﻿@model AutoComplete
    <div class="col-lg-12 col-sm-12 col-xs-12 mobile-no-padding">
        <div class="search-widget">
            <form action="/Search" method="GET">
                    <div class="left-inner-icon input-group" data-test-selector="txtSearch">
                        <i class="zf-search"></i>
                        @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = "Search", @class = "", @Name = "SearchTerm", @id = "searchTextBox", @data_test_selector = "txtSearch" } })
                        <span class="input-group-btn">
                             <button type="submit" class="btn btn_search btn-bg-primary" id="btnSearchTerm"data-test-selector="btnSearchTerm">@WebStore_Resources.ButtonSearch</button>
                        </span>
                    </div>
                <div id="typeahead-results" class="ui-autocomplete-home"></div>
            </form>
        </div>
    </div>


<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();        
    });
</script>
