﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">        
        <li>
            <a href="/Order-Forms" class="dropdown-toggle">@WebStore_Resources.LableCatalogDropdown</a>
        </li>
        @{
            foreach (var category in Model.Categories)
            {
                <li class="">
                    <a href="@domainurl@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="dropdown-toggle" data-test-selector="linkCategoryItem" itemprop="url"> @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))</a>
                    @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                    {
                        <ul class="dropdown-menu set1 multi-level hidden-xs">
                            @*@Html.Partial("_HeaderSubNav", category.SubCategoryItems)*@
                            @foreach (var subCategory in category.SubCategoryItems)
                            {
                                string classname = "";
                                if (subCategory.ChildCategoryItems.Count > 0)
                                {
                                    classname = "dropdown-submenu";
                                }
                                <li class="@classname">
                                    <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="linkSubCategoryItemList" itemprop="url">
                                        <i class=""></i>@WebUtility.HtmlDecode(subCategory.CategoryName)
                                    </a>
                                    @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                                    {
                                        <ul class="dropdown-menu">
                                            @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
</div>

<script>
    $('ul.nav li').hover(function () {
        $(this).find('.set1').stop(true, true).delay(0).fadeIn(0);
    }, function () {
        $(this).find('.set1').stop(true, true).delay(0).fadeOut(0);
    });
</script>
