﻿@using Znode.WebStore.Custom.ViewModel;
@model AWCTNewCustomerApplicationViewModel
@{
    ViewBag.Title = @WebStore_Resources.LinkCustomerApplication;
    Layout = "~/Views/Themes/AWCT/Views/Shared/_Layout.cshtml";
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <!--Footer Title Info New Customer Application Block-->
                <div class="col-xs-12 margin-bottom mobile-no-padding">
				    <h1 id="ktitle">@WebStore_Resources.LinkTextNewCustomerApplication</h1>
                    <p>@Html.RenderMessage("FormNewCustApplicationinfo")</p>
                </div>
                    <!--New Customer Application Form Code here-->
                    <div class="col-xs-12 col-md-8 col-lg-8 margin-bottom mobile-no-padding">
                        @using (Html.BeginForm("NewCustomerApplication", "AWCTCustomizedForm", FormMethod.Post, new { @id = "frmNewCustomerApplication" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-xs-12 nopadding kmirrort">
                                <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @class = "floating-input", @placeholder = "First Name *" })
                                                <span id="valFirstNameErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @class = "floating-input", @placeholder = "Last Name *" })
                                                <span id="valLastNameErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label">
                                                @Html.TextBoxFor(model => model.StudioName, new { @maxlength = 100, @id = "valStudioName", @class = "floating-input", @placeholder = "Studio Name *" })
                                                <span id="valStudioNameErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.ColumnStudioName, new { @class = "required" })*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label">
                                                @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 200, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address *" })
                                                <span id="valEmailAddressErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })*@
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label">
                                                @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNumber", @class = "floating-input", @placeholder = "Phone Number *" })
                                                <span id="valPhoneNumberErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelPhoneNumber, new { @class = "required" })*@


                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label">
                                                @Html.TextBoxFor(model => model.CellPhoneNumber, new { @maxlength = 20, @id = "valCellPhoneNumber", @class = "floating-input", @placeholder = "Cell Phone Number *" })
                                                <span id="valCellPhoneNumberErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelCellPhoneNumber, new { @class = "required" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.MailingAddress, new { @maxlength = 200, @id = "valMailingAddress", @class = "floating-input", @placeholder = "Mailing Address *" })
                                            <span id="valMailingAddressErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelMailingAddress, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.DeliveryAddress, new { @maxlength = 100, @id = "valDeliveryAddress", @class = "floating-input", @placeholder = "Delivery Address *" })
                                            <span id="valDeliveryAddressErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelDeliveryAddress, new { @class = "required" })*@
                                            <p class="sub">@WebStore_Resources.DeliverySubText</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <!--Required-->
                                            <div class="form-group floating-label">
                                                @Html.TextBoxFor(model => model.WebsiteAddress, new { @maxlength = 100, @id = "valWebsiteAddress", @class = "floating-input", @placeholder = "Website Address" })
                                                <span id="valWebsiteAddressErr" class="field-validation-error"></span>
                                                @*@Html.Label(WebStore_Resources.LabelWebsiteAddress)*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">

                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(WebStore_Resources.LabelAreYouSure)
                                            <div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="Order_Yes" name="EmailOptIn" value="true" type="radio">
                                                    <label for="Order_Yes"> Yes</label>
                                                </div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="Order_No" name="EmailOptIn" value="true" type="radio">
                                                    <label for="Order_No"> No</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(WebStore_Resources.LabelStudioAffiliation, new { @class = "required" })
                                            <p class="sub">@WebStore_Resources.StudioAffiliationSubText</p>
                                        </div>
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.StudioAffiliationFile, new { @type = "file", @id = "valStudioAffiliationFile" })
                                            <span id="valStudioAffiliationFileErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label" style="overflow: hidden">
                                                <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                                                <span id="ErrCaptcha" class="field-validation-error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--End Contact Form div-->
                            <div class="form-group floating-label">
                                <div class="pull-left margin-top-bottom">
                                    <button type="submit" class="btn-text btn-bg-primary" id="customerapplication" onclick="return CaseRequest.prototype.ValidationForNewCustomerForm();">@WebStore_Resources.ButtonSubmit</button>
                                    <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
        </div>
    </div>
</div>


<script src='https://www.google.com/recaptcha/api.js'></script>
@*<script>
    var form = document.getElementById("frmNewCustomerApplication"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>*@
<script>
    $("#frmNewCustomerApplication").submit(function (event) {
        $("#customerapplication").prop("disabled", true).addClass("disabled");
    });

</script>

