﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel

<li>
    <div class="row">
        <div class="col-md-12 margin-bottom-10">
            <form class="form" accept-charset="UTF-8">
                <div class="form-group forloginbox">
                    <div class="col-xs-12 nopadding">
                        @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @class = "floating-input", @placeholder = "Username *" })
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Username)</p>
                    </div>
                </div>

                <div class="form-group forloginbox">
                    <div class="col-xs-12 nopadding">
                        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @class = "floating-input", @placeholder = "Password *" })
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                </div>
                <div class="form-group styled-input text-left remember-me">
                    <input type="checkbox" value="true" name="RememberMe" id="Remember" data-val-required="The Remember Me field is required." data-val="true">
                    <label for="Remember">@WebStore_Resources.RememberMe</label>
                    <input type="hidden" value="false" name="RememberMe">
                </div>
                <div class="form-group">
                    @{
                        string _returnUrl = Convert.ToString(Request.Url.AbsoluteUri);

                    }
                    @*@Html.Hidden("returnUrl", "~/Checkout")*@
                    @Html.Hidden("returnUrl", _returnUrl)
                    <a href="/user/forgotpassword" class="login-form-forgotpassword pull-left" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-text-full btn-bg-primary btn-block" onclick="User.prototype.LoginMethod()">@WebStore_Resources.ButtonLogin</button>
                </div>
            </form>
        </div>
    </div>
</li>
