﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerThumbnailUrl;
}

<div class="col main-wrapper">
    <div class="row">
        <div class="container">
            <div class="col-12 p-0 contain-pages">
                <div class="col-12 p-0">
                    <h1 class="page-title">@Model.BlogNewsType</h1>
                </div>
                @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    if (Model?.BlogNewsList?.Count > 0)
                    {
                        <div class="col-12 p-0">
                            <ul class="blog-news">
                                @foreach (var blogNews in Model.BlogNewsList.AsEnumerable().Reverse())
                                {
                                    <li>
                                        <article class="border-bottom mb-3 pb-4">
                                            <div class="col-12 p-0 pb-3 blog-news-title">
                                                <h3 class="m-0"><a href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)">@blogNews.BlogNewsTitle</a></h3>
                                            </div>
                                            <div class="col-12 mb-3 blog-news-date-time">
                                                @blogNews.CreatedDate.ToDateTimeFormat()
                                            </div>
                                            @if (!Equals(blogNews.MediaPath, null))
                                            {
                                                <div class="row no-gutters pb-3">
                                                    <div class="col-12 col-md-2 mb-3 text-center text-md-left">
                                                        <img src="@imagePath/@blogNews.MediaPath" class="img-fluid" data-src="@imagePath/@blogNews.MediaPath" alt="Image" title="@blogNews.BlogNewsTitle" />
                                                    </div>
                                                    <div class="col-12 col-md-10 pl-md-3 blog-news-text">
                                                        <p>@blogNews.BodyOverview</p>
                                                        @if (!string.IsNullOrEmpty(blogNews.Tags))
                                                        {
                                                            <div class="col-12 p-0 text-right mt-3 blog-news-tags"><b>@WebStore_Resources.TextTags:</b> @blogNews.Tags</div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-12 p-0 pb-3 blog-news-text">
                                                    <p>@blogNews.BodyOverview</p>
                                                    @if (!string.IsNullOrEmpty(blogNews.Tags))
                                                    {
                                                        <div class="col-12 p-0 pull-right my-3 blog-news-tags"><b>@WebStore_Resources.TextTags:</b> @blogNews.Tags</div>
                                                    }
                                                </div>

                                            }
                                            <div class="col-12 p-0 text-right quotebutton">
                                                <button type="button" class="btn btn-primary" onclick="javascript: location.href = '@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)';">@WebStore_Resources.ReadMore</button>
                                            </div>
                                        </article>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="col-12 p-0 mb-5">@string.Format(WebStore_Resources.TextForEmptyBlogNewsList, Model.BlogNewsType)</div>
                    }
                }
            </div>
        </div>
    </div>
</div>