﻿@using Znode.Engine.WebStore.ViewModels

@model UserViewModel
<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@WebStore_Resources.TitleGiftCardHistory</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                    <h3 class="section-header">@string.Format(WebStore_Resources.TextGiftCardHistory, Model.GiftCardHistory.Count)</h3>
                    @Html.Partial("_GiftCardHistory", Model.GiftCardHistory)
                </div>
            </div>
        </div>
    </div>
</div>
