﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel

<!-- Remove Old Code  -->
<div class="col-xs-12 product-wishlist nopadding wishlistmargin WishlistLink hidden">
    <a data-test-selector="btnWishList" id="PopUpWishlist" data-toggle="modal" data-target="#Wishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)">@WebStore_Resources.ButtonAddToWishlist</a>
    <button data-test-selector="btnWishList" id="PopUpWishlist" data-toggle="modal" data-target="#Wishlist" type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="pdpbtn btn-text btn-text-icon btn-bg-secondary wishlistmargin" onclick="Product.prototype.AddToWishList(this)"><i class="zf-heart"></i>@WebStore_Resources.ButtonAddToWishlist</button>
    <button data-test-selector="btnPrint" type="button" class="btn-wishlist btn-print" onclick="window.print();"><i class="zf-printer"></i>@WebStore_Resources.ButtonPrint</button>
    <span id="seeMore" data-test-selector="btnSeeMore" class="hidden"></span>
    <div class="col-xs-12 col-sm-4 col-md-1 nopadding">
        <div class="pull-right">
            <div class="social-share">
                <ul>
                    <li><a data-toggle="modal" data-target="#modelEmailToFriend"><i data-test-selector="linkMail" class="zf-envelope" title="Email A Friend"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@Html.Action("EmailToFriend", "Product")
<script>
    jQuery(document).ready(function (e) {
        $("#ProductName").val($(".product-name").html());
        jQuery('#modelEmailToFriend').trigger('click');
    });
</script>


<!-- New Code Start -->
<div class="col-xs-12 product-wishlist nopadding wishlistmargin WishlistLink popup">
    <a href="myPopup" data-test-selector="btnWishList" id="PopUpWishlist" data-toggle="modal" data-target="#WishlistMsg" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)">@WebStore_Resources.ButtonAddToWishlist</a>
</div>
<div class="modal fade" id="WishlistMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="border-radius:0px;">
            <div class="modal-body margin-top">
                <button class="close closeset" type="button" data-dismiss="modal" style="position: fixed;">×</button>
                <div class="col-xs-12 wishlist-status text-center"><a id="accountWishList" href="" class=""></a></div>
            </div>
        </div>
    </div>
</div>
<!-- New Code End -->
