﻿@using Znode.Engine.WebStore.ViewModels

@model ProductReviewViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div id="layout-writereview" class="main-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 mobile-no-padding">
            <div class="col-xs-12 write-review">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.TitleProductReview</h1>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                    <form method="POST" action="/Product/WriteReview/@Model.PublishProductId" class="form">
                        @Html.AntiForgeryToken()

                        <div class="col-xs-12 nopadding kmirrort margin-bottom">
                            <div class="col-xs-12 backbackgroundset Setbordernone">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding"><label>@WebStore_Resources.ColumnReviewFor</label></div>
                                        <div class="col-xs-12 nopadding">@Html.RenderBlock(Model.ProductName)</div>
                                    </div>
                                    <div class="form-group">
                                        @*<div class="col-xs-12 nopadding"><label>@WebStore_Resources.ColumnRating *</label></div>*@
                                        <div class="col-xs-12 nopadding star-rating setrating">
                                            <label for="set-rating1" class="zf-star-full-fill star1 @(Model.Rating >= 1 ? "full" : "empty")" data-stars="1"></label>
                                            <label for="set-rating2" class="zf-star-full-fill star2 @(Model.Rating >= 2 ? "full" : "empty")" data-stars="2"></label>
                                            <label for="set-rating3" class="zf-star-full-fill star3 @(Model.Rating >= 3 ? "full" : "empty")" data-stars="3"></label>
                                            <label for="set-rating4" class="zf-star-full-fill star4 @(Model.Rating >= 4 ? "full" : "empty")" data-stars="4"></label>
                                            <label for="set-rating5" class="zf-star-full-fill star5 @(Model.Rating >= 5 ? "full" : "empty")" data-stars="5"></label>
                                            @Html.HiddenFor(model => model.Rating)
                                        </div>
                                        <p class="error-msg" style="text-transform: capitalize;">@Html.ValidationMessageFor(m => m.Rating)</p>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(m => m.Headline, new { @id = "review_subject", @class = "floating-input", @placeholder = "Review Headline *" })
                                        <span class="error-msg" style="text-transform: capitalize;">@Html.ValidationMessageFor(m => m.Headline)</span>
                                        @*<label for="review_subject" class="required">@WebStore_Resources.ColumnReviewHeadline</label>*@
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "4", cols = "45", @class = "floating-input", @placeholder = "Review *" })
                                        <span class="error-msg" style="text-transform: capitalize;">@Html.ValidationMessageFor(m => m.Comments)</span>
                                        @*<label for="review_text" class="required">@WebStore_Resources.ColumnReview</label>*@
                                       
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "review_name", @class = "floating-input", @placeholder = "Your Name *" })
                                        <span class="form-error" style="text-transform: capitalize;">@Html.ValidationMessageFor(m => m.UserName)</span>
                                        @*<label for="review_name" class="required">@WebStore_Resources.ColumnReviewName</label>*@
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location", @class = "floating-input", @placeholder = "Your State/Country *" })
                                        <p class="error-msg" style="text-transform: capitalize;">@Html.ValidationMessageFor(m => m.UserLocation)</p>
                                        @*<label for="review_location" class="required">@WebStore_Resources.ColumnReviewLocation</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>


                       
                        <div class="col-xs-12 nopadding">
                            <p class="sub">@WebStore_Resources.TextReviews</p>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div class="pull-left margin-top-bottom">
                                <button type="submit" class="btn-text btn-bg-primary" onclick="Product.prototype.SubmitReviews()">@WebStore_Resources.ButtonSubmitReview</button>
                                <a href="@Url.GetProductUrl(Model.SEOUrl, Convert.ToString(Model.PublishProductId))" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.PublishProductId)
                        @Html.HiddenFor(m => m.ProductName)
                    </form>
                </div>
            </div>
        </div>
     
    </div>
</div>