﻿.blog-news{padding:0;list-style:none;
    li:last-child article{border-bottom:0 !important;}
}
.comments-display-section{
    .comment-text{padding:5px 10px;}
    .comment-list:last-child{border-bottom:0 !important;}
}
.blog-news-date-time{background-color:transparentize($base-secondary-light, 0.8);padding:5px 10px;color:$base-primary;font-family:$base-font-family-bold;}
.blog-news-image{max-height:500px;}