﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

@{
    bool isAjax = Request.IsAjaxRequest();
}
<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1>@WebStore_Resources.TitleRegisterAccount</h1>
            </div>
            <div class="col-xs-12 register-container margin-top">
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="col-sm-10 nopadding">
                        @if (isAjax)
                        {
                            <div id="ajaxRegisterForm">
                                @using (Ajax.BeginForm("signup", "User", new AjaxOptions() { OnSuccess = "Checkout.prototype.SetUserCreationStatusMessage" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("_Register", Model)
                                    @Html.Hidden("isSinglePageCheckout", true)
                                    <button type="submit" class="btn-text red btn-margin-left">@WebStore_Resources.ButtonCreateAccount</button>
                                    <button type="button" class="btn-text grey" data-dismiss="modal">@Admin_Resources.ButtonCancel</button>                                    
                                }
                            </div>
                        }
                        else
                        {
                            using (Html.BeginForm("signup", "User", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_Register", Model)
                                <button type="submit" class="btn-text red btn-margin-left">@WebStore_Resources.ButtonCreateAccount</button>
                                <button type="button" class="btn-text grey" onclick="javascript: location.href = '/User/Login';">@WebStore_Resources.ButtonCancel</button>                                
                            }
                        }
                    </div>
                </div>
                @if (!isAjax)
                {
                    <div class="col-xs-12 col-sm-6 account-signup-container">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 already-account">
                            <h3>@string.Format(WebStore_Resources.TextAlreadyHaveAccount,Model?.StoreName)</h3>
                            <a href="/User/Login" class="btn-text-full grey account-signup-link"><i class="zf-checkout"></i> Login Now !</a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>