﻿@using Znode.Engine.WebStore.ViewModels
@model OrdersViewModel

@if (!Equals(Model, null))
{
    <div class="main-wrapper">
        <div class="container">
            <div class="row checkout-reciept">
                <div class="col-sm-12 nopadding">
                    <h4>Thank You For Your Purchase</h4>

                    <p>
                        <i class="zf-caret-right"></i>&nbsp; Your order number is <strong>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/User/OrderReceipt?OmsOrderId=@Model.OmsOrderId&portalId=@Model.PortalId">#@Model.OrderNumber</a>
                            }
                            else
                            {
                                <span>#@Model.OrderNumber</span>
                            }
                        </strong>
                    </p>

                    <p>
                        <i class="zf-caret-right"></i>&nbsp; An email receipt has been sent to <strong>@Model.EmailAddress</strong>, please keep this email for your records.
                    </p>
                    <div><a href="/CaseRequest/customerfeedback">@WebStore_Resources.TextCustomerFeedback</a></div>

                    <div class="margin-top-bottom">
                        <a href="/" class="btn-text red pull-right">Continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    @* To DO - Need to move in checkout.ts *@
    <script>
        $(document).ready(function () {
            $(window).scrollTop(0);
        })
    </script>
