﻿@using Znode.WebStore.Custom.ViewModel;
@model ConfigurableProductModel
@{
    var images = Model.AssociatedProducts.ToList();
}

@if (@Model.ParentPage == "_ProductTitleHome")
{
    //producttitlehome
    <div class="product-img">
        <a href="@Url.GetProductUrl(Model.SEOUrl, Model.ConfigurableProductId.ToString())">
            <div class="image">
                <img id="@Model.ConfigurableProductId" class="img-responsive b-lazy" data-src="@Model.ConfigurableProductDefaultImage" src="@Model.ConfigurableProductDefaultImage" alt="Product" title="@Model.ConfigurableProductName" />
            </div>
        </a>
    </div>
}
else
{
   
        <!--producttile-->
       


        <div class="product-img">
                @if (Model.EnableProductCompare)
                { <div class="compare-link">
                    <a href="#" class="button-compare" onclick="return Category.prototype.AddToCompare(@Model.ConfigurableProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink"><i class="zf-random"></i></a>
                </div>
                }

                <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.ConfigurableProductId.ToString())">
                    @if (Model.IsNewProduct)
                    {
                        <img src="~/Views/Themes/AWCT/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @*@{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;

                            Html.RenderAction("GetProductSwatchImage", "AWCTProduct", new { prdimage = imageSrc, configurableprdname = Model.Name, parentpage = "_ProductTile" });
                        }*@
                        <img id="@Model.ConfigurableProductId" class="img-responsive b-lazy" data-src="@Model.ConfigurableProductDefaultImage" src="@Model.ConfigurableProductDefaultImage" alt="Product" title="@Model.ConfigurableProductName" />
                    </div>
                </a>
            </div>

}

        <div class="product-details setheight">
            <!--Swatch Image-->
            <ul>
                @foreach (var img in images)
                {
                    <li>
                        @if (img.SwatchImagePath.Contains("Shown.jpg"))
                        {
                            <img id="@img.AssociatedProductId" src="@img.SwatchImagePath" style="height:20px;" class="img-responsive setswatch" data-src="@img.SwatchImagePath" alt="" />                           
                        }
                        else
                        {
                            <img id="@img.AssociatedProductId" src="@img.SwatchImagePath" class="img-responsive setswatch" abc="@img.ImagePath" data-src="@img.SwatchImagePath" alt="" onmouseover="clickme(@Model.ConfigurableProductId,@img.AssociatedProductId);" onmouseout="out(@Model.ConfigurableProductId,'@Model.ConfigurableProductDefaultImage');" />                           
                        }
                    </li>
                }
                
            </ul>
            @if(images.Count()>=5)
            {
            <div class="moreColorsIcon"><a href="@Url.GetProductUrl(Model?.SEOUrl, Model.ConfigurableProductId.ToString())" title="more colors">+</a></div>
            }
        </div>










        <script>
            function clickme(configproductid, associatedproductid) {
                var s = $("#" + associatedproductid).attr('abc');
                //alert(associatedproductid+","+s);
                $("#" + configproductid).attr('src', s);
            }
            function out(configproductid, img) {
                $("#" + configproductid).attr('src', img)
            }
        </script>
