﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents

@model ProductViewModel

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    var prodnum = Model.Attributes?.Value("prodnum");
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = CallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;

    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
    }
    string PriceTier = "Starting at " + @Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model?.Attributes?.Value("awctpricerangemin")), Model.CultureCode, "");
    var images = Model.AssociatedGroupProducts.ToList();
    int icount = 1;
    int index = 0;
    index = Model.ImageSmallPath != null ? Model.ImageSmallPath.LastIndexOf('/') : 0;
    string ProductImage = Model.ImageSmallPath != null ?Model.ImageSmallPath.Substring(index + 1):string.Empty;
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
@{ 
    string ParentProductSku = Model.SKU;
    string[] SplitSku = ParentProductSku.Split('_');
    string Sku = "";
    try
    { Sku = SplitSku[1]; }
    catch { }
    Sku = Sku + " " + Model.Name;
}
<div class="view-item">
    <div class="product-img">
        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())" itemprop="url">
            @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
            {
                <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />}
            <div class="image">
                @{
                    string imageSrc = string.IsNullOrEmpty(Model.OriginalImagepath) ? "/no-image.png" : Model.ImageSmallPath;
                    <input type="hidden" name="name" value="@Model.ImageSmallPath" />
                    if (imageSrc.Contains(".jpg") || imageSrc.Contains(".png"))
                    { }
                    else
                    {
                        imageSrc = "/no-image.png";
                    }
                    <img id="@Model.PublishProductId" class="b-lazy" data-src="@imagePath" src="@imagePath" alt="Product" title="@Model.Name" itemprop="image"/>
                }
            </div>
        </a>
    </div>

    <div class="product-details setheight">
        <ul>
            @foreach (var swatch in Model.SwatchAttributesValues)
            {
                <li>
                    @if (swatch.ImageSmallThumbnailPath.Contains("Shown.jpg")|| swatch.ImageSmallThumbnailPath.Contains("TC.jpg"))
                    {
                      
                        <img id=@icount@Model.PublishProductId src="@swatch.ImageSmallThumbnailPath" class="img-responsive setswatch" data-src="@swatch.ImageSmallThumbnailPath" alt="" />
                    }
                    else
                    {
                        <img id=@icount@Model.PublishProductId src="@swatch.ImageSmallThumbnailPath" class="img-responsive setswatch" abc="@swatch.ImageSmallPath" data-src="@swatch.ImageSmallThumbnailPath" alt="" onmouseover="clickme(@Model.PublishProductId,@icount@Model.PublishProductId);" onmouseout="out(@Model.PublishProductId,'@imagePath');" />
                    }
                </li>
                icount++;
            }
        </ul>
        @if (Model.SwatchAttributesValues.Count() > 5)
        {
            <div class="moreColorsIcon"><a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())" title="more colors">+</a></div>
        }
    </div>

    <div class="product-details">

        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">
            @{
                string[] words = null;
                try
                { <h3 class="setsku" title="@prodnum">@Html.RenderBlock(Sku)</h3> }
            catch { }

            }
        </a>
        @if (!isGuestUser)
        {
            <div>
                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            <span>@PriceTier</span>

                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable))
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.InventoryMessage</p>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>
    <div class="col-xs-12 highlight-container Plphighlights nopadding">
        <div class="col-xs-12 product-highlight nopadding">
            @{
                if (Model.PublishProductId > 0)
                {
                    List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                    if (codesList?.Count > 0)
                    {
                        string highLightsCodes = string.Join(",", codesList);
                        int publishProductId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
                        Html.RenderAction("GetProductHighlights", "Product", new { productId = publishProductId, highLightsCodes = highLightsCodes });
                    }
                }
            }
        </div>
    </div>

<script>
    function clickme(t, c) { var r = $("#" + c).attr("abc"); $("#" + t).attr("src", r) } function out(t, c) { $("#" + t).attr("src", c) }
</script>
