﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
    @*<h4 class="modal-title">Customer Login</h4>*@
    <h4 data-test-selector="lblLoginHeading" class="modal-title">@WebStore_Resources.TitleCustomerLogin </h4> 
    
</div>
<div class="modal-body login-container-popup">
    <div class="col-xs-12 nopadding login-container">
        <div class="inner-container">
            @using (Ajax.BeginForm("Login", "User", new AjaxOptions { OnSuccess = "getresult" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label data-test-selector="lblLoginUserName" for="login_username">@WebStore_Resources.ColumnUsername</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-login-user login-icon"></i>
                            @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @data_test_selector = "txtUserName" })
                            <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username)</p> 
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label data-test-selector="lblLoginPassword" for="login_password">@WebStore_Resources.ColumnPassword</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-key login-icon"></i>
                            @Html.PasswordFor(model => model.Password, new { @id = "login_password", @data_test_selector = "txtLoginPassword" })
                            <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password)</p> 
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <button type="submit" data-test-selector="btnLoginButton" class="btn-text-login btn-bg-primary">@WebStore_Resources.ButtonLogin</button>
                    </div>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="col-sm-6 nopadding styled-input remember-me">
                            <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                            <label for="RememberMe" data-test-selector="lblRememberMe">@WebStore_Resources.RememberMe</label>
                            <input type="hidden" value="false" name="RememberMe">
                        </div>
                        <div class="col-sm-6 nopadding">

                            @Html.Hidden("returnUrl", "~/Checkout")
                            <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword pull-right" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a> 
                           </div>
                    </div>
                    <div id="error-content" class="error-msg"></div>
                </div>
            }
            <div class="col-xs-12 margin-top-bottom">
                <div class="col-xs-12 nopadding">
                        @Html.Partial("_ExternalLoginsListPartial")
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form" accept-charset="UTF-8">
    <div class="form-group forloginbox">
        <br />
        <input type="text" class="inputText" required>
        <span id="#" class="field-validation-error"></span>
        <label class="floating-label">Email Address or Username</label>
    </div>
    <div class="form-group forloginbox">
        <br />
        <input type="password" class="inputText" required>
        <span id="#" class="field-validation-error"></span>
        <label class="floating-label">Password</label>
    </div>
    <div class="form-group styled-input remember-me">
        <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
        <label for="RememberMe">@WebStore_Resources.RememberMe</label>
        <input type="hidden" value="false" name="RememberMe">
    </div>
    <div class="form-group">

        @Html.Hidden("returnUrl", "~/Checkout")

        <a href="/user/forgotpassword" class="login-form-forgotpassword pull-right" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-text-full btn-bg-primary btn-block">Login</button>
    </div>
</form>


<script>
    function getresult(data) {
        if (data.status == false)
            $("#error-content").html(data.error);
        else
            window.location.href = "/checkout";

    }
</script>