﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model OrdersListViewModel

<div id=@Model.GridModel.FrontObjectName>
    <div id="layout-account-orderhistory" class="main-wrapper">
        <div class="container-fluid mobile-no-padding">
            <div class="col-xs-12 user-account">
                <div class="col-xs-12">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderHistory</h1>
                </div>
                <div class="col-xs-12 account-dashboard">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
					 
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
								<div class="col-xs-12 col-sm-4 nopadding">
								<div class="input-group">
									<input class="form-control" type="text" placeholder="Order Number" id="OrderNumber" />
									<span class="input-group-btn">
										<button type="submit" id="btnsearch" class="btn btn_search btn-bg-primary" onclick="User.prototype.GetOrderReceipt()" style="line-height: 30px;margin-left: -2px;"> @Admin_Resources.TitleSearch </button>
									</span>
								</div>
					</div>

                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".zf-manage").attr('title', "Reorder");
    $(window).load(function () {
        User.prototype.HideGridColumnForPODocument();
    });
</script>