﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}

<!--Main Container-->
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 register-container">
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12">
                    <h1 class="page-title">@WebStore_Resources.ButtonResetPassword</h1>
                </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">

                        <div class="col-xs-12 nopadding kmirrort margin-bottom">
                            <div class="col-xs-12 backbackgroundset">
                                <div class="col-xs-12">
                                    @if (string.IsNullOrEmpty(Model.PasswordToken))
                                    {
                                        <div class="form-group floating-label">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "floating-input", @placeholder = "Old Password *" })
                                            @Html.ValidationMessageFor(m => m.OldPassword)
                                            @*<label class="required">@WebStore_Resources.LabelOldPassword</label>*@
                                        </div>
                                    }
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "floating-input", @placeholder = "New Password *" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                        @*<label class="required">@WebStore_Resources.LabelNewPassword</label>*@
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @class = "floating-input", @placeholder = "Retype New Password *" })
                                        @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                                        @*<label class="required">@WebStore_Resources.LabelReTypeNewPassword</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <div class="pull-left">
                                    <input type="submit" class="btn-text btn-bg-primary" value="@WebStore_Resources.ResetPasswordButtonText" />
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.PasswordToken)
                        @Html.HiddenFor(x => x.UserName)
                    </div>
            }
        </div>
    </div>
</div>