﻿@using Znode.Engine.WebStore.ViewModels
@model EmailAFriendViewModel
@{
    Layout = null;
}
<div id="modelEmailToFriend" class="modal fade" role="dialog">
    <div class="compare-product-popup">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zf-close-circle"></i></button>
                    <h4 class="modal-title">@Admin_Resources.EmailAFriend</h4>
                </div>
                @using (Ajax.BeginForm("SendMailToFriend", "Product", new AjaxOptions { OnBegin = "Product.prototype.EmailToFriendBegin();", OnSuccess = "Product.prototype.EmailToFriendSuccess();", OnFailure = "Product.prototype.EmailToFriendFailure();", HttpMethod = "Post" }))
                {
                    <div class="modal-body">

                        <div>
                            <div>
                                <label for="Your_Email_ID">Your Email ID</label>
                            </div>
                            <div>
                                @Html.HiddenFor(model => model.ProductName)
                                @Html.TextBoxFor(model => model.YourMailId, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.YourMailId)
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="Friend_s_Email_ID">Friend's Email ID</label>
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.FriendMailId, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.FriendMailId)
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button id="btnSendMail" class="btn-text red pull-right" type="submit">Send Mail</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")