﻿@using Znode.Engine.WebStore.ViewModels
@using ZNode.Libraries.ECommerce.Utilities
@model  List<GroupProductViewModel>
@{
    Layout = null;
    string message = Convert.ToString(ViewBag.GroupProductMessage);
    string productTotalPrice = Helper.FormatPriceWithCurrency(Model.Sum(x => (x.ChangedQuantity != string.Empty) ? !Equals(x.SalesPrice, null) ? x.SalesPrice : x.RetailPrice : 0M), Model.FirstOrDefault()?.CurrencyCode);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
}
@if (Model?.Count > 0)
{
    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
        @foreach (GroupProductViewModel product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
        {
            <div class="form-group">
                <div class="col-xs-12 group-product-list">
                    <img src="@product.ImageThumbNailPath" class="img-responsive" />
                    @if (product.IsCallForPricing)
                    {
                        <div class="col-lg-6 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@product.Name</h4>
                        </div>
                        <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
                    }
                    else
                    {
                        <div class="col-lg-7 col-md-5 col-sm-7 col-xs-6 group-item-details">
                            <h4>@product.Name</h4>
                            @if (product.ShowAddToCart)
                            {
                                <input type="text" name="quantity" data-sku="@product.SKU" data-inventoryRoundOff="@inventoryRoundOff" data-productId="@product.PublishProductId" class="quantity" onchange="Product.prototype.OnAssociatedProductQuantityChange(this)" /><span class="quantity-state">Quantity</span>
                                <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg"></div>
                            }
                            else
                            {
                                <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg">@product.InventoryMessage</div>
                            }
                        </div>
                        <div class="pull-right">
                            @if (!Equals(product.SalesPrice, null))
                            {
                                <span class="dynamic-product-price_@product.SKU pull-right original-price text-right">@Helper.FormatPriceWithCurrency(product.SalesPrice, product.CurrencyCode)</span>
                                if (product.SalesPrice != @product.RetailPrice)
                                {
                                    <span class="cut-price pull-right text-right">
                                        @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CurrencyCode)
                                    </span>
                                }
                            }
                            else
                            {
                                <span class="dynamic-product-price_@product.SKU pull-right original-price text-right">@Helper.FormatPriceWithCurrency(product.RetailPrice, product.CurrencyCode)</span>
                            }
                        </div>
                    }
                </div>
            </div>

        }
    </div>

}

<script>
    $("#groupproductmessage").html('@message');
    var mainProductId = $("#scrollReview form").children("#dynamic-productid").val();
    $("#button-addtocart_" + mainProductId).removeAttr("disabled");
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>