﻿@using Znode.Engine.WebStore.ViewModels
@model List<AttributeValidationViewModel>
@{
    Layout = null;
}
<form id="frmPersonalised" method="post" novalidate="novalidate">
        @foreach (var item in Model)
        {
            <div class="form-group personlised-attribute">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        <label for="@item.ControlProperty.Name">@item.AttributeName</label>
                    </div>                    
                    @Html.CreateControl(item.ControlProperty)
                </div>
            </div>
            }
</form>
<script>
    $("#frmPersonalised").submit(function (e) { 
        e.preventDefault(); // here you stop submitting form
    });
</script>
<script src="~/Scripts/lib/DynamicValidation.js"></script>