﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using ZNode.Libraries.ECommerce.Utilities
@{
    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;

    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string UOM = Attributes.Value(Model?.Attributes, "UOM");
}
<div class="col-xs-12 product-info">
    <div class="col-xs-12 product-price nopadding">
        @if (!IsCallForPricing && !isGroupProduct)
        {
            <h2>
                @if (!Equals(Model.SalesPrice, null))
                {
                    @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode)
                    if (Model.SalesPrice != @Model.RetailPrice)
                    {
                        <span class="cut-price">
                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                        </span>
                    }
                }
                else
                {
                    if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                    {
                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode)
                        <span class="cut-price">
                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                        </span>
                    }
                    else
                    {
                        @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode)
                    }
                }

                @if (Model?.SalesPrice > 0 && Model.RetailPrice > 0 && !string.IsNullOrEmpty(UOM))
                {
                    <span>@string.Format("{0}{1}", "/", UOM)</span>
                }
            </h2>
        }        
        @if (isGroupProduct)
        {
            <h2>
                <span id="groupproductmessage"></span>
            </h2>
        }
    </div>
    <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
    <div class="col-xs-12 nopadding">
        @{
            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        }
    </div>

    <div class="col-xs-12 product-variations nopadding" id="scrollReview">
        <div class="col-xs-12 nopadding your-pricing">
            <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                @if (!IsCallForPricing && !isGroupProduct)
                {
                    <div class="price" id="product_Detail_Price_Div">
                        <span>@WebStore_Resources.ColumnYourPrice</span>
                        @if (string.IsNullOrEmpty(UOM))
                        {
                            <h3 class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CurrencyCode)</h3>
                        }
                        else
                        {
                            <h3 class="dynamic-product-price">@string.Format("{0}/{1}", Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CurrencyCode), UOM)</h3>
                        }
                    </div>
                }
                @if (IsCallForPricing)
                {
                    <div class="price"><h4 class="error-msg">@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</h4></div>
                }
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 nopadding">
                @Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "btn-text-full red", "Product.prototype.BindAddOnProductSKU(this,event)", disable)                
            </div>            
        </div>

        <div class="col-xs-12 product-customize nopadding">
            <div class="col-xs-12 nopadding">
                @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
            </div>
            <div class="col-xs-12 nopadding tier-price">
                @if (Model.TierPriceList?.Count > 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tier Quantity</th>
                                <th>Tier Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TierPriceList)
                            {
                                <tr>
                                    <td>@Convert.ToDouble(item.Quantity)</td>

                                    <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CurrencyCode)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="col-xs-12 addons-attributs">
                @if (isGroupProduct)
                {
                    var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId });}
                        <div id="quantity-error-msg" class="status-outofstock hvr-pulse"></div>
                    </div>
                            }
                            else
                            {
                                <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                                    @Html.Partial("_ProductAttributes")
                                </div>
                            }
                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                    @Html.Partial("_AddOns")
                </div>
            </div>
        </div>
        @Html.Partial("_AddToWishList", Model)
        <div class="col-xs-12 nopadding wishlist-status"><a id="accountWishList" href="" class=""></a></div>
    </div>
</div>