﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{

    string mediaThumbnailImagePath = MediaPaths.MediaThumbNailPath;
    string mediaPath = MediaPaths.MediaPath;
    var alternateImages = Model.Attributes?.Value("GalleryImages")?.Split(',');
}
<div class="col-xs-12 nopadding image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="~/Views/Themes/Default/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }

    <div class="simpleLens-gallery-container" id="ImageZoom">
        <div class="simpleLens-container">
            <div class="simpleLens-big-image-container">
                <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.OriginalImagepath">
                    <img id="product-image" src="@Model.ImageLargePath" data-src="@Model.ImageLargePath" alt="@(Model.Attributes?.Value("ImageAltText"))" class="simpleLens-big-image" />
                </a>
            </div>
        </div>
        <div class="col-xs-12 nopadding product-altimages">
            <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
                @if (Model?.AlternateImages?.Count > 0 && !Model.IsQuickView)
                {
                    <div class="item">
                        <a href="#" class="simpleLens-thumbnail-wrapper"
                           data-lens-image="@Model.OriginalImagepath"
                           data-big-image="@Model.ImageLargePath">
                            <img src="@Model.ImageLargePath" />
                        </a>
                    </div>
                    foreach (var image in Model.AlternateImages)
                    {
                        <div class="item">
                            <a href="#" class="simpleLens-thumbnail-wrapper"
                               data-lens-image="@image.OriginalImagePath"
                               data-big-image="@image.ImageLargePath">
                                <img src="@image.ImageThumbNailPath">
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(".Product_Altimages").owlCarousel({
        autoPlay: false,
        navigation: true,
        items: 4,
        itemsCustom: [
          [0, 1],
          [320, 4],
          [480, 4],
          [600, 4],
          [768, 6],
          [992, 5],
          [1200, 6]
        ],
        navigationText: [
          "<i class='glyphicon glyphicon-chevron-left'></i>",
          "<i class='glyphicon glyphicon-chevron-right'></i>"
        ]
    });

    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });

</script>
