﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using ZNode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
}
@if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}
@{
    <div class="col-xs-12 nopadding">
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="Quantity">@WebStore_Resources.ColumnTitleQuantity</label>
            </div>
            <div class="col-xs-12 nopadding product-details-qty" id="product-details-quantity">
                <input type="text" name='Quantity' value="@quantity" data-sku="@sku" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing)) ? "disabled" : "") id="Quantity" onchange="Product.prototype.OnQuantityChange(this);">
                <div id="quantity-error-msg" class="error-msg"></div>
                <div id="dynamic-inventory" class="@inventoryMessageClass error-msg">@Model.InventoryMessage</div>
            </div>
        </div>
    </div>
}
