﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model BrandListViewModel

@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id=@Model.GridModel.FrontObjectName>
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgAssociateProducts">@PIM_Resources.AssociateProducts</h1>
            <div id="divSaveCancel" class="pull-right">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divBrandProductListPopup')" data-test-selector="popLinkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right" id="divSave">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Brand.prototype.AssociateBrandProducts()" data-test-selector="popLinkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding">
                <div class="taxClassMessageBoxContainer error-msg text-center margin-bottom" id="brandMessageBoxContainerId" data-message=""></div>
            </div>
            @using (Ajax.BeginForm("UnAssociatedProductList", "Brand", new { area = "PIM", brandCode = Model.BrandCode, localeId = Model.LocaleId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>
<script>
    Brand.prototype.ShowHideSaveCancelButton();
    ZnodeBase.prototype.AddClassToImageColumn('@Model.GridModel.FrontObjectName');
    ZnodeBase.prototype.SetNoImageForList();
</script>