﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model GlobalAttributeListViewModel
@{
    ViewBag.Title = Admin_Resources.LabelAdmin + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}
<div id=@Model.GridModel.FrontObjectName>
    <div class="col-sm-12 title-container">
        <h1 data-test-selector="hdgAttributes">@Admin_Resources.TitleAttributesList<span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i data-test-selector='linkAddNew'></i>" + Admin_Resources.ButtonAdd, "Create", "GlobalAttribute", null, new { @class = "btn-text btn-text-secondary" })
        </div>
    </div>
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm(actionName, "GlobalAttribute", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = @Admin_Resources.TextConfirmDelete,
                ModalPopUpId = "DeleteGlobalAttributePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "GlobalAttribute.prototype.DeleteGlobalAttribute(this)"}
                }
            })
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
</div>
