﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta small-view-template" data-id="@productId">
    <!-- Breadcrumb -->
    <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
    <div class="container">
        <div class="row product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-4 nopadding product-images">
                @Html.Partial("_ProductImage", Model)
            </div>
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-8 nopadding product-overview">
                <div class="col-xs-12 col-md-5 nopadding overview-small-view">@Html.Partial("_ProductOverview", Model)</div>
                <div class="col-xs-12 col-md-7 nopadding">@Html.Partial("_ProductInfo", Model)</div>
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = '@Model.SEOTitle';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<link rel="canonical" href="@Model.CanonicalURL" />
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens();
</script>