﻿// Attribute And Media CSS.
.collapsible-grid table {
    thead tr th {
        &:nth-child(1) {
            width: 200px;
        }

        &:nth-child(2) {
            width: 200px;
        }

        &:nth-child(3) {
            width: 50px;
        }

        &:nth-child(4) {
            width: 50px;
        }
    }

    tbody {
        border-bottom: none;
    }

    tbody tr:hover {
        background-color: $base-color-white;
    }

    .child-table {
        float: left;
        width: 100%;
        margin-top: 0;

        thead {
            background: $base-color-white;
        }

        tbody tr:hover {
            background-color: $base-color-tertiary;
        }

        td {
            padding: 3px 5px;

            .z-delete {
                color: $base-color-primary;

                &:hover {
                    color: $base-color-secondary
                }
            }
        }

        td.td-header {
            line-height: 34px;
            padding: 0 15px 0 0;
            background-color: $base-color-tertiary;
            border: 1px solid #dac9ca !important;

            button {
                margin-right: 5px;
                padding: 9px 10px;
                background-color: $base-color-primary;

                i {
                    color: $base-color-white;
                }
            }
        }

        tbody tr td {
            &:nth-child(1) {
                width: 150px;
            }

            &:nth-child(2) {
                width: 150px;
            }

            &:nth-child(3) {
                width: 55px;
            }

            &:nth-child(4) {
                width: 55px;
            }
        }

        .z-close {
            color: $error-msg-fgcolor;
            font-size: 10px;
        }

        .z-ok {
            color: $success-msg-fgcolor;
            font-size: 10px;
        }
    }
}

.drop-area {
    width: 100%;
    min-height: 60px;
    margin-bottom: 15px;
    border: 2px dashed $border-bgcolor-primary;
    padding: 5px;

    .drop-container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            padding: 0 6px;
        }

        .file-upload {
            margin-top: 15px;
        }

        input[type="file"] {
            height: 25px;
        }

        i {
            color: $base-color-primary;
            font-size: $base-font-size + 23
        }
    }
}

.dropdown-tool {
    float: left;
    position: relative;
}

.dynamic-checkbox .btn-dropdown {
    width: 100%;

    .z-down {
        float: right;
        padding: 5px 0
    }
}

.attribut-list .pagination-top {
    float: left;
    width: auto;
}

.attributegroup-edit .attribut-list .grid-control, .categoryattributegroup-edit .attribut-list .grid-control, .productattributegroup-edit .attribut-list .grid-control {
    display: none;
}

.tile-view-tools {
    left: auto;
    right: 0;
}

// Media Upload PopUp.
.media-upload-popup {
    z-index: 999999;

    .modal-body {
        padding: 0 !important;
        border-bottom: 1px solid $border-bgcolor-default;
        float: left;
        width: 100%;
    }

    aside {
        position: absolute;
        padding-top: 0;
        margin-top: 2px;
        border-right: 1px solid $border-bgcolor-default;
        height: 100%;

        .slide-menu-btn {
            display: none;
        }

        .slide-container {
            margin-top: 0;

            .tree-search {
                position: relative;
            }

            .tree-container .jstree-default {
                margin-top: 0;
            }
        }
    }

    #AddMediabtn {
        display: none;
    }

    .page-container .list-container, .filter-component {
        margin-bottom: 0;
    }

    .main-container {
        .drop-area {
            margin: 5px auto;
            min-height: 100px;
            padding-top: 5px;

            h3 {
                font-size: 22px;
            }
        }

        .tile-view {
            margin-top: 0;

            table tbody tr {
                width: 16.33%;

                td {
                    padding: 0 6px;
                }

                .tile-view-container {
                    width: 80px;
                    margin-bottom: 15px;

                    .img {
                        height: 70px;
                        padding: 10px 5px;

                        i {
                            font-size: 56px;
                        }
                    }
                }
            }

            :hover .action-ui {
                display: none;
            }
        }
    }

    .dropdown-export, .dropdown-tool, .grid-view-option {
        display: none;
    }
}

// Media Upload Panel.
.media-upload-panel {
    position: fixed;
    background-color: $base-color-white;
    top: 2%;
    right: 5%;
    width: 90%;
    height: 96% !important;
    border: none;
    display: none;
    z-index: 99999;

    aside {
        position: absolute;
        height: calc(100% - 40px);
        padding-top: 0;
        width: 204px !important;

        #slide-menu {
            display: none;
        }

        .slide-container {
            margin-top: 0;
            height: 100%;

            .tree-container .tree-search {
                width: 200px;
            }
        }
    }

    .main-container {
        margin-left: 200px !important;
        padding: 25px;

        .list-container {
            padding-top: 0;
            margin-bottom: 0;

            .tile-view table tbody {
                height: 306px;
                overflow-y: auto;
                float: left;
                width: 100%;

                tr {
                    width: 123px;

                    td {
                        padding: 0;
                    }
                }

                .tile-view-container {
                    margin-bottom: 10px;
                    width: 120px;
                    border: 7px solid $tile-border-color;

                    .img {
                        height: 75px;
                        padding: 10px 5px;
                        width: 100%;

                        .z-file-text {
                            font-size: 70px;
                        }
                    }
                }
            }

            .pagination-top {
                padding-bottom: 0;
            }

            .pagination-bottom {
                width: 100%;
            }
        }

        .filter-component {
            display: block !important;

            .filter-close, .ManageFilter {
                display: none;
            }
        }

        .ManageFilter {
            display: none;
        }

        .drop-area {
            margin-bottom: 10px;
            min-height: 60px;
            padding: 10px;
        }

        .grid-control {
            display: none;
        }
    }

    #AddMediabtn, #grid-view-type, .action-ui, .dropdown-export, .dropdown-tool {
        display: none;
    }

    .media-upload-footer {
        position: fixed;
        bottom: 10%;
        z-index: 999;
    }

    .pagination {
        padding: 0px;

        .page-limit {
            margin-bottom: 4px;
        }
    }

    .jstree-default .jstree-anchor {
        font-size: 11px;
    }

    .media-upload-close {
        position: absolute;
        z-index: 999;
        top: 0;
        left: -24px;
        border: none;
        background-color: $base-color-tertiary;
        padding: 0 5px;

        .z-close {
            color: $base-color-primary;
            font-size: $base-font-size + 3;
            line-height: 25px;
        }

        &:hover {
            background-color: $base-color-secondary;

            .z-close {
                color: $base-color-white;
            }
        }
    }

    .dynamic-grid {
        margin-top: -5px;
    }

    .title-container {
        height: 40px;
        padding: 0px 15px;
        z-index: 999;
        background-color: #2A2C2E;
        width: 100%;
        box-shadow: 0 5px 5px -5px #cccccc;
        position: relative;

        h1 {
            font-size: 18px;
            float: left;
            margin: 0;
            color: white;
            line-height: 40px;
            font-family: "Roboto-Medium", segoeui-bold, HelveticaNeueLTStd Lt, Arial, sans-serif;
            text-transform: uppercase;
        }
    }
}

// Media Upload Panel css for CMS.
.website-manage .media-upload-panel .main-container {
    margin-left: 200px !important;
    padding: 25px;
}

.media-upload-view {
    aside {
        top: 40px;
    }

    .btn-back {
        display: none;
    }
}

// Media Upload Images box.
.upload-btn {
    margin-left: 0;
}

.upload-images {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 7px solid $border-bgcolor-default;
    position: relative;
    cursor: pointer;
    justify-content: center;

    &:hover .change-image {
        opacity: 1;
    }

    .change-image {
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        color: $base-color-white;
        font-weight: 600;
    }

    .upload-images-close {
        position: absolute;
        top: -15px;
        right: -13px;

        i {
            color: $base-color-primary;
            font-size: $base-font-size + 4;
            background-color: $base-color-white;
            border-radius: 50%;

            &:hover {
                color: $base-color-secondary;
            }
        }
    }
}

.upload-video {
    margin-bottom: 10px;
    display: block;
}

input[type="file"] {
    position: absolute;
    top: 0;
    margin: 0;
    opacity: 0;
    width: 101px;
    min-height: 25px;
}

.file-upload {
    position: relative;

    .file-upload-name {
        float: left;
        margin-left: 15px;
        line-height: 34px;
    }
}

.file-upload-btn {
    position: relative;
    overflow: hidden;
    margin-left: 0;
}

.attribut-table-container {
    overflow-x: auto;
    overflow-y: hidden;

    .attribut-table {
        thead tr th {
            border: 0;
        }

        thead tr th:last-child {
            width: 100px;
        }

        tbody tr:hover {
            background-color: $base-color-white;
        }

        .dynamic-row label {
            display: none;
            width: 175px;
        }

        div {
            height: 44px;
            float: left;
            width: 100%;

            &.swatch-text > div {
                height: 70px;
                display: flex;
                align-items: center;
            }
        }

        label {
            width: 175px;
            border: 1px solid $border-bgcolor-primary;
            border-radius: 3px;
            font-size: $base-font-size;
            height: 34px;
            padding: 0 5px;
            line-height: 33px;
            background-color: #efefef;
            cursor: not-allowed;
            overflow: hidden;
        }

        input[type="text"] {
            margin-bottom: 5.6px;
            width: 175px;
        }

        .btn-narrow-icon {
            margin-bottom: 4px;
        }

        td {
            div {
                position: relative;

                span.field-validation-valid {
                    position: absolute;
                    left: 0;
                    top: 25px;
                    white-space: nowrap;
                }
            }
        }

        tbody tr > td {
            padding: 0;
            height: auto;
            border: 0;

            > div {
                padding: 5px;
                border-top: 1px solid #ddd;
                min-height: 45px;
                display: flex;
                align-items: center;

                input[type="text"] {
                    margin-bottom: 0;
                }
            }

            &.is-default > div {
                display: flex;
                align-items: center;
            }

            &.displayswatch input {
                width: 100%;
                text-align: center;
            }

            &.imageicon {
                .swatch-image {
                    height: 80px;
                }

                .appendMediaModel {
                    display: none;
                }
            }
        }
    }

    .table-swatch {
        div {
            height: 80px;
            float: left;
            width: 100%;
            line-height: 80px;
        }

        .swatch-image {
            height: 0;
            margin-bottom: 0;

            div {
                height: 65px !important;
                line-height: 60px;
            }

            .upload-images {
                border: 2px solid $border-bgcolor-primary;
                z-index: 1;

                img {
                    max-height: 60px;
                    min-height: 60px;
                    margin: 0 auto;
                    min-width: 50px;
                }

                span {
                    line-height: 20px;
                    left: 0;
                }
            }
        }

        .is-default div {
            line-height: 20px;
            padding-top: 24px;
        }

        .action-col div {
            line-height: 65px;
        }
    }

    .table-text .appendMediaModel {
        display: none;
    }
}

.productattribute-edit .attribut-table-container .attribut-table {
    tbody tr > td > div {
        min-height: 80px;
    }

    td div span.field-validation-valid {
        top: 60px;
        padding-left: 5px;
    }
}

.productattribute-edit .attribut-table-container .table-text .displayswatch {
    line-height: 69px !important;
}

.productattribute-edit .attribut-table-container .table-swatch {
    td div span.field-validation-valid {
        top: 25px;
    }
}

.file-upload-status {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 550px;
    z-index: 999;
    border: 1px solid $border-bgcolor-primary;
    border-bottom: 0;

    .header {
        background-color: $base-color-primary;
        float: left;
        width: 100%;

        h4 {
            color: $base-color-white;
            font-family: $base-font-family-bold;
            font-size: $base-font-size + 2;
            padding: 8px 5px;
            margin: 0;
            float: left;
        }

        i {
            color: $base-color-white;
            font-size: 20px;
            line-height: 30px;
            padding-right: 5px;
        }

        .collapsed i:before {
            content: $z-up;
        }
    }

    .status-container {
        max-height: 450px;
        overflow-y: auto;
        float: left;
        width: 100%;
        background-color: $base-color-white;
    }
}

.mediamanager-list {
    .btn-back {
        margin-top: -75px;
        position: absolute;
        right: 0;
        z-index: 999;
    }
}

// Media Query.
@include screensize(large) {
    .media-upload-panel .main-container {
        .list-container {
            .tile-view table tbody {
                height: 260px;
            }
        }
    }
}

@include screensize(xlarge) {
    .attribut-table-container .attribut-table {
        label, input[type="text"], .dynamic-row label {
            width: 250px;
        }
    }

    .media-upload-panel .main-container {
        .page-container {
            .list-container table tbody {
                height: 600px;
            }
        }

        .list-container {
            .tile-view table tbody {
                height: 340px;
            }
        }

        .tile-view table tbody {
            height: 400px;
        }
    }

    .mediamanager-getmediaattributevalues .form-group .control-md {
        width: 45%;
    }
}

@include screensize(desktop) {
    .mediamanager-getmediaattributevalues .form-group .control-md {
        width: 65%;
    }

    .media-upload-panel .main-container {
        .page-container .list-container table tbody {
            height: 500px;
        }

        .tile-view table tbody {
            height: 340px;
        }
    }
}

@import "_tree-structure.scss";
@import "_tile-view.scss";
@import "_detail-view.scss";
