﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@using Znode.Libraries.ECommerce.Utilities;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string _addressType = ViewBag.AddressType;
    bool isNewAddress = Convert.ToBoolean(ViewBag.IsNewAddress);
    string addressText = string.Format((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.SelectedAddressId < 1) ? WebStore_Resources.TitleAddAddress : WebStore_Resources.LinkTextChangeAddress, $" {_addressType?.ToProperCase()}");
    AddressViewModel _editAddressModel = Model.AddressList?.FirstOrDefault(x => x.AddressId == Model.SelectedAddressId);

    if (HelperUtility.IsNull(_editAddressModel))
    {
        if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            _editAddressModel = Model.ShippingAddress;
            _editAddressModel.IsDefaultShipping = (Model.AddressList?.Count <= 1 && (!Model.AddressList?.Any(x => x.IsDefaultShipping)).GetValueOrDefault()) ? true : false;
        }
        else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
        {
            _editAddressModel = Model.BillingAddress;
        }
    }

    _editAddressModel.AddressCount = ((Equals(_addressType, WebStoreConstants.BillingAddressType) && (Model.AddressList?.Any(x => x.IsDefaultBilling)).GetValueOrDefault()) || (Equals(_addressType, WebStoreConstants.ShippingAddressType) && (Model.AddressList?.Any(x => x.IsDefaultShipping)).GetValueOrDefault())) ? Model.AddressList.Count : 0;

    List<SelectListItem> _AddressName = new List<SelectListItem>();

    //the address inserted from address book section doesnot have any flag set.(IsBilling,IsShipping,IsDefaultBilling,IsDefaultShipping)
    List<AddressViewModel> BillingAddressList = Model.AddressList?.Where(o => o.IsBilling ||
                                                                              o.IsDefaultBilling ||
                                                                              (!o.IsBilling && !o.IsShipping && !o.IsDefaultBilling && !o.IsDefaultShipping) ||
                                                                              (Model.SelectedAddressId > 0 && o.AddressId == Model.SelectedAddressId))
                                                                 ?.ToList();

    List<AddressViewModel> ShippingAddressList = Model.AddressList?.Where(o => o.IsShipping ||
    o.IsDefaultShipping ||
   (!o.IsBilling && !o.IsShipping && !o.IsDefaultBilling && !o.IsDefaultShipping) ||
     (Model.SelectedAddressId > 0 && o.AddressId == Model.SelectedAddressId))
    ?.ToList();

    if (Model?.AddressList?.Count > 0)
    {
        switch (_addressType)
        {
            case WebStoreConstants.ShippingAddressType:
                {
                    //foreach (var item in ShippingAddressList)
                    //{
                    //    _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    //}
                    Model.AddressList?.Where(o => o.IsShipping).OrderByDescending(x => x.IsDefaultShipping).ToList().ForEach(m => _AddressName.Add(new SelectListItem() { Text = m.FirstName + " " + m.LastName + "," + m.CompanyName + "," + m.Address1 + "," + m.Address2 + "," + m.CityName + "," + m.StateName + "," + m.CountryName + "," + m.PostalCode + "," + m.PhoneNumber, Value = m.AddressId.ToString() }));

                    break;
                }
            case WebStoreConstants.BillingAddressType:
                {
                    //foreach (var item in BillingAddressList)
                    //{
                    //    _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    //}
                    Model.AddressList?.Where(o => o.IsBilling).OrderByDescending(x => x.IsDefaultBilling).ToList().ForEach(m => _AddressName.Add(new SelectListItem() { Text = m.DisplayName, Value = m.AddressId.ToString() }));

                    break;
                }
            default:
                {
                    //foreach (var item in Model.AddressList)
                    //{
                    //    _AddressName.Add(new SelectListItem { Text = item.DisplayName, Value = item.AddressId.ToString() });
                    //}
                    Model.AddressList?.ToList().ForEach(m => _AddressName.Add(new SelectListItem() { Text = m.DisplayName, Value = m.AddressId.ToString() }));
                    break;
                }
        }
    }


    if (_addressType == WebStoreConstants.ShippingAddressType.ToString().ToLower())
    {
        _editAddressModel.OtherAddressId = Model.BillingAddress.AddressId;
    }
    else if (_addressType == WebStoreConstants.BillingAddressType)
    {
        _editAddressModel.OtherAddressId = Model.ShippingAddress.AddressId;
    }
}
@*<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
        <h4 class="modal-title">@addressText</h4>
    </div>*@
<div class="col-xs-12 nopadding">
    @if (_AddressName?.Count > 0 && !isNewAddress)
    {
        if (Model?.AccountId > 0)
        {
            if (string.Equals(Model?.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
                _AddressName.Add(new SelectListItem { Text = "Add New Address", Value = "0" });
            }
        }
        else
        {
            _AddressName.Add(new SelectListItem { Text = "Add New Address", Value = "0" });
        }

        _AddressName.ForEach(x => { x.Selected = x.Value == Convert.ToString(Model.ShippingAddress.AddressId) ? true : false; });
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label>@WebStore_Resources.LabelSelectCustomerAddress</label>
            </div>
            <div class="col-xs-12 nopadding">
                @using (Ajax.BeginForm("GetAddress", "Checkout", new AjaxOptions() { UpdateTargetId = "Edit-Address-content_" + _addressType, OnSuccess = "ZnodeBase.prototype.HideLoader()" }))
                {
                    @Html.Hidden("addressType", _addressType, new { @id = "account_addressType" })
                    @Html.Hidden("AddressId", new { @id = "account_addressId" });
                    @Html.Hidden("OtherAddressId", _editAddressModel.OtherAddressId, new { @id = "account_otherAddressId" });
                    @Html.DropDownListFor(m => Model.SelectedAddressId, _AddressName, new { @id = "ShippingAddress", @onchange = "javascript:$('[name=\"AddressId\"]').val($(this).val());$('#formChange').val(true); $(this).closest('form').submit();" })
                }
            </div>
        </div>
    }
    @using (Ajax.BeginForm("UpdateAddress", "Checkout", new AjaxOptions() { OnBegin = "ZnodeBase.prototype.ShowLoader();", OnSuccess = "Checkout.prototype.SetAddressErrorNotificationMessage", OnFailure = "ZnodeBase.prototype.HideLoader();" }, new { @id = "frmEditAddress_" + _addressType }))
    {

        <div id="Edit-Address-content_@_addressType" class="col-xs-12 nopadding">
            @{Html.RenderPartial("_EditAddress", _editAddressModel);}
        </div>
            @Html.Hidden("addressType", _addressType, new { @id = "hnd_addressType" })
                @Html.Hidden("formChange", true, new { @id = "formChange" })
                }
</div>

<script>
    $('#frmEditAddress :input').change(function () {
        $("#formChange").val(true);
    });
</script>