﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model FormBuilderAttributeGroupViewModel
@{
    Layout = null;
    int prevGroupId = 0;
    int sequence = 1;
}
<div id="layout-formtemplate">
    <h2>@Model.FormTitle</h2>
    <div class="col-xs-12 nopadding form-builder margin-bottom">
        @if (Model?.Attributes?.Count > 0)
        {
            using (Ajax.BeginForm("Create", "FormBuilder", new AjaxOptions() { HttpMethod = "POST", OnBegin = "FormBuilder.prototype.SaveFormBuilder", OnComplete = "FormBuilder.prototype.FormTemplateOnSuccess" }, new { @id = "frmFormBuilder" }))
            {
                if (HelperUtility.IsNotNull(Model.Attributes))
                {
                    foreach (var ctrl in Model.Attributes)
                    {
                        int? groupId = ctrl.GlobalAttributeGroupId;
                        if (groupId == null)
                        {
                            @Html.Partial("FormBuilder/_createControl", ctrl)
                            sequence++;
                        }
                        else
                        {
                            if (prevGroupId != groupId.Value)
                            {
                                var attributesAssociatedWithGroup = Model.Attributes.Where(x => x.GlobalAttributeGroupId == groupId).ToList();
                                var groupName = Model.Groups.Where(x => x.GlobalAttributeGroupId == groupId).FirstOrDefault().AttributeGroupName;

                                <div class="col-sm-12 nopadding padding-bottom form-group-container">
                                    @*<div class="padding-bottom">
                                            <h3 class="form-group-name">@groupName</h3>
                                        </div>*@
                                    @foreach (var attributes in attributesAssociatedWithGroup)
                                    {
                                        @Html.Partial("FormBuilder/_createControl", attributes)
                                        sequence++;
                                    }
                                </div>
                                prevGroupId = groupId.Value;
                            }
                        }
                    }
                    <div class="form-group floating-label" style="overflow: hidden">
                        <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                        <span id="ErrCaptcha" class="field-validation-error"></span>
                    </div>
                    <div class="pull-left">
                        @Html.HiddenFor(x => x.IsTextMessage)
                        @Html.HiddenFor(x => x.TextMessage)
                        @Html.HiddenFor(x => x.RedirectURL)
                        @Html.HiddenFor(model => model.FormBuilderId)
                        @Html.HiddenFor(model => model.FormCode)
                        <button class="btn-text btn-bg-primary">@Model.ButtonText</button>
                    </div>
                }
                else
                {
                    <div style='text-align:center;'> @WebStore_Resources.TextAttributesNotAvailable </div>
                }
            }
        }
    </div>
</div>
<script src="~/Scripts/lib/datepicker.js"></script>
<script src="~/Scripts/lib/DynamicValidation.js"></script>
<script>
    $(document).ready(function () {
        $("#frmFormBuilder")[0].reset();
    });
</script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var form = document.getElementById("frmNewCustomerApplication"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>