﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.Helpers;
@model ShippingListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
}

<div id=@Model.GridModel.FrontObjectName>
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelUserProfile)<i class="z-minus"></i><span>@Model.ProfileName</span></h1>
        <div class="pull-right btn-container">
            @if (Model.PortalId > 0)
            {
                @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "PortalProfileList", "Store", new { PortalId = Model.PortalId }, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            }
            else
            {
                @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "Profiles", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            }
            <div class="pull-right padding-left">
                @Html.AuthorizedPrototypeRawActionLink(@Admin_Resources.LabelAssociateShipping, "GetUnAssociatedShippingList", "Profiles", new { profileId = Model.ProfileId, @data_test_selector = "linkAssociateShippingMethod", @class = "btn-text btn-text-secondary", @id = "addProfileShipping", onclick = "Profiles.prototype.GetUnassociatedShipping(" + Model.ProfileId + ")" })
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/views/Profiles/_asideProfileManagePanel.cshtml")
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm("GetAssociatedShippingList", "Profiles", new { profileId = Model.ProfileId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "ProfileShippingDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Profiles.prototype.UnAssociateAssociatedShipping(this)" },
                           }
                    })
        </section>
        @Html.HiddenFor(m => m.ProfileId)
        @Html.HiddenFor(m => m.PortalId)
        @if (DefaultSettingHelper.IsDataSeparationAllowedforAppType() == false)
        {
            <input type="hidden" id="hid_DataSeparationAllowedforAppType" value="true" />
        }
    </div>
</div>
<div id="divUnassociatedShippingListPopup" class="aside-popup-panel modal-dialog modal-lg"></div>
<script>
    $(document).ready(function () {
        EditableGridEvent.Init();
        var IsDefault = $("#hid_DataSeparationAllowedforAppType").val();
        if (IsDefault == "true") {
            $('#grid tbody tr').each(function () {
                $(this).find('.z-edit').parents('li').remove();
            });
            $("#Dynamic_Grid").find("#PublishState").parents('li').remove();
        }
    })
</script>