﻿@using Znode.Engine.WebStore.ViewModels

@model CaseRequestViewModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Themes/AWCT/Views/Shared/_Layout.cshtml";
}



<div id="layout-contactus" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12">
                <!--Footer Title Info Content Block-->
                <div class="col-xs-12 col-md-5 col-lg-6 nopadding">
                    @Html.RenderMessage("FormContactusinfo")
                </div>

                <!--Contact us Form Code here-->
                <div class="col-xs-12 col-md-7 col-lg-6 nopadding margin-bottom">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title" data-test-selector="lblPageTitle">@WebStore_Resources.LinkTextContactus</h1>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom">

                        <p>@WebStore_Resources.SubTextContactUs</p>
                    </div>
                    @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <!--Start Contact Form div-->
                        <div class="col-xs-12 nopadding kmirrort">
                            <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @class = "floating-input", @id = "valFirstName", @placeholder = "Fisrt Name *", @data_test_selector = "txtFirstName" })
                                            <span id="valFirstNameErr" data-test-selector="lblValFirstNameErrMsg" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @class = "floating-input", @id = "valLastName", @placeholder = "Last Name *", @data_test_selector = "txtLastName" })
                                            <span id="valLastNameErr" data-test-selector="lblValFirstNameErrMsg" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @class = "floating-input", @placeholder = "Phone Number",@data_test_selector = "txtPhoneNo"})
                                            @*@Html.Label(WebStore_Resources.LabelPhoneNumber)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @class = "floating-input", @placeholder = "Company Name", @data_test_selector = "txtCompanyName" })
                                            @*@Html.Label(WebStore_Resources.ColumnCompanyName)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @class = "floating-input", @placeholder = "Email Address *", @data_test_selector = "txtEmail" })
                                            <span id="valEmailErr" data-test-selector = "lblValEmailErrMsg" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelEmailAddress, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @class = "floating-input", @placeholder = "Alternate Phone Number" })
                                            @*@Html.Label(WebStore_Resources.LabelAlternatePhoneNumber)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group floating-label">
                                        @Html.TextAreaFor(model => model.Description, new { @id = "valComment", @class = "floating-input", @rows = 6, @placeholder = "Comments *", @data_test_selector = "txtDescription" })
                                        <span id="valCommentErr" data-test-selector = "lblValDescriptionErrMsg" class="field-validation-error"></span>
                                        @*@Html.LabelFor(x => x.Description, new { @class = "required" })*@
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="Billing Address 1 *">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelBillingAddress1)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="Billing Address 2">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelBillingAddress2)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="City *">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelCity)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="State *">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelStateProvince, new { @class = "floating-label" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="Country *">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelCountry)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="Zip Code *">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelZipCode)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <input type="text" class="floating-input" placeholder="Residential / Commercial">
                                            <span id="#" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelResidentialCommercial)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">

                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding margin-top">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(WebStore_Resources.LabelEmailList)
                                            <small>@WebStore_Resources.ContactUsEmailText</small>
                                            <div class="col-xs-12 styled-input nopadding margin-top">
                                                <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox">
                                                <label for="signup_optin"> @WebStore_Resources.ContactUsChcekboxText</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <div class="g-recaptcha" data-sitekey="6LfJgmYUAAAAAMjbUE8KKAGzwHI6hyWu_vgk6USj"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Contact Form div-->
                        <div class="form-group">
                            <div class="pull-left margin-top-bottom">
                                <button type="submit" class="btn-text btn-bg-primary" id="contact-us" data-test-selector="btnSubmit" onclick="return CaseRequest.prototype.ValidationForContactUsForm();">@WebStore_Resources.ButtonSubmit</button>
                                <a href="/Home/Index" class="btn-text btn-bg-secondary"  data-test-selector = "btnCancel">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                        if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                            </div>
                        }
                        else if (Model?.HasError ?? false)
                        {
                            <div class="col-xs-12 nopadding">
                                @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $("#frmCreateCaseRequest").submit(function (event) {
        $("#contact-us").prop("disabled", true).addClass("disabled");
    });

</script>

