﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@model CartViewModel
@{
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.ShoppingCartItems.Any(x => !x.IsAllowedTerritories) ? "" : "display:none" : "";
    List<CartItemViewModel>
    cartItemViewModel = Model.ShoppingCartItems?.AsEnumerable().Reverse().ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
    SKU = c.Key.SKU,
    GroupId = c.Key.GroupId,
    Children = c.ToList(),
    Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
    //bool isEnableApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
    string disablebutton = (Model.IsLevelApprovedOrRejected
    && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
    && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
    ? "disabled='disabled'" : "";
    }
    <style>
        .pdpbtn {
            width: 100%;
        }
    </style>
    <div class="shopping-cart">
        @*<div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout margin-bottom">
            @if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
            {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                if (!Model.IsLastApprover)
                {
                @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                @WebStore_Resources.LabelApproveAndPlaceOrder
                }
                }
                else
                {
                @WebStore_Resources.TextPlaceOrder
                }
            </button>
            }
            else if ((Model.ShowPlaceOrderButton || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Payment.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
            {
            string onclickFunction = (Model.OmsQuoteId > 0) ? "Checkout.prototype.SubmitForApproval()" : "Checkout.prototype.SubmitOrder()";
            <button type="submit" @disablebutton onclick="@onclickFunction" id="btnCompleteCheckout" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                if (!Model.IsLastApprover)
                {
                @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                @WebStore_Resources.LabelApproveAndPlaceOrder
                }
                }
                else
                {
                @WebStore_Resources.TextPlaceOrder
                }
            </button>
            }
            else if ((!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase))) || (string.Equals(Model.ApprovalType, ZnodePortalApprovalsLevelEnum.Store.ToString(), StringComparison.CurrentCultureIgnoreCase) && Model.EnableApprovalRouting))
            {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left singlecheckoutsubmitquote">
                @if (Model.OmsQuoteId > 0)
                {
                if (!Model.IsLastApprover)
                {
                @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                @WebStore_Resources.LabelApproveAndPlaceOrder
                }
                }
                else
                {
                @WebStore_Resources.ButtonSubmitForApproval
                }
            </button>
            }
            else
            {
            <button type="submit" @disablebutton onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary btn-text-full btn-margin-left btnCompleteCheckout">
                @if (Model.OmsQuoteId > 0)
                {
                if (!Model.IsLastApprover)
                {
                @WebStore_Resources.LabelUpdateAndApproveOrder
                }
                else
                {
                @WebStore_Resources.LabelApproveAndPlaceOrder
                }
                }
                else
                {
                @WebStore_Resources.TextPlaceOrder
                }
            </button>
            }
        </div>*@

        <div class="col-xs-12 chk-section nopadding">
            <h3 class="title" id="cartReviewSerialNo">@WebStore_Resources.SinglePageCheckoutReviewOrder</h3>
            <div class="col-xs-12 nopadding cart-products">
                @if (Model.ShoppingCartItems?.Count > 0)
                {
                <div id="cartRowBody">
                    @{
                    var result = Model.ShoppingCartItems.GroupBy(item => item.GroupId)
                    .SelectMany(grouping => grouping)
                    .OrderByDescending(item => item.ParentProductId)
                    .AsEnumerable();
                    }
                    @foreach (CartItemViewModel cartItem in result)
                    {
                    cartItem.IsProductEdit = false;
                    if (Model.IsSinglePageCheckout)
                    {
                    cartItem.IsProductEdit = true;
                    }
                    @Html.Partial("../Cart/_CartRowforcheckout", cartItem)
                    }
                </div>
                }
            </div>
            <div class="col-xs-12 nopadding cart-summary">
                <div class="col-xs-12 cart-total order-summary" id="summary-details">
                    @Html.Partial("../_TotalTable", Model)
                </div>
            </div>
        </div>

        <div class="col-xs-12 nopadding cart-summary margin-bottom margin-top">
            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 nopadding">
                @if (Model.Permission)
                {
                if (Model.IsSinglePageCheckout)
                {
                @Html.Partial("../_ApplyCoupon", Model)
                }
                }
                <div class="col-xs-12 nopadding inner-container Setbordernone single-page-checkout checkout-box margin-top">
                    <h3 for="address_name" class="title">
                        @WebStore_Resources.TitleAdditionalInformation Comments
                        <br />
                        <small> @Html.RenderMessage("AdditionalComments")</small>
                        @*  @Html.TextAreaFor(model => model.AdditionalInstruction, new { maxlength = 42, @rows = "1" })*@
                        @Html.TextBoxFor(model => model.AdditionalInstruction, new { maxlength = 42, @class = "floating-input margin-top" })
                    </h3>
                    <div class="form-group">
                        <h3 class="title">
                            Need by Date
                            <br />
                            <small> @Html.RenderMessage("DanceRecitalDatePara")</small>
                            <input type="text" id="txtDanceRecitalDate" class="form-control margin-top" style="width:auto" placeholder="Month / Day / Year" />
                        </h3>
                    </div>

                    <div class="styled-input padding-15">
                        <div class="form-group">
                            <input type="checkbox" id="chk_termconditions">
                            <label for="chk_termconditions" class="validationtermconditions" style="border-radius:3px">I agree to the estimated ship dates as they are represented.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 nopadding">
            <div class="quotebutton">
                @if (string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                {
                <button type="submit" onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="btn-text-icon btn-bg-primary pull-right"><b> @WebStore_Resources.TextPlaceOrder</b></button>
                }
                else if (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase) && (Model.SubTotal > Model.BudgetAmount || string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.REJECTED.ToString(), StringComparison.CurrentCultureIgnoreCase))))
                {
                <button type="submit" onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="btn-text-icon btn-bg-primary pull-right singlecheckoutsubmitquote">@WebStore_Resources.ButtonSubmitForApproval</button>
                }
                else
                {
                <button type="submit" id="btnCompleteCheckout" onclick="Checkout.prototype.SubmitOrder()" class="pdpbtn btn-text-icon btn-bg-primary singlecheckoutsubmitpayment pull-right"><b>@WebStore_Resources.TextPlaceOrder</b></button>
                }
            </div>
        </div>

    </div>
    @Html.HiddenFor(m => m.ErrorMessage, new { @id = "ShippingErrorMessage" })
    @Html.HiddenFor(m => m.IsValidShippingSetting, new { @id = "ValidShippingSetting" })
    @Html.HiddenFor(m => m.GiftCardMessage, new { @id = "cartGiftCardMessage" })
    @Html.HiddenFor(m => m.GiftCardApplied, new { @id = "cartGiftCardApplied" })
    @Html.HiddenFor(m => m.FreeShipping, new { @id = "cartFreeShipping" })
    @Html.Hidden("Custom1", "Custom1")
    @Html.Hidden("Custom2", "D") @*added for  shippingprefer checkbox*@
    @Html.Hidden("Custom3", "false") @*added for  default one time address*@
    @Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
    @Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
    @Html.HiddenFor(m => m.OmsQuoteId)

    <script>
        $(document).ready(function () {
            Checkout.prototype.ChangeCartReviewSequence();
            Checkout.prototype.ChangeSubmitOrderButtonText();
        })
        /*added for cart Item Grouping:start*/
        $(document).ready(function () {
            var arr = new Array(); var firstvalue = ""; $("#cartRowBody tr").each(function (index) {
                if (firstvalue == "") {
                    firstvalue = $(this).attr("data-parentsku"); arr.push($(this).attr("data-parentsku"));
                }
                if (firstvalue == $(this).attr("data-parentsku")) { } else { firstvalue = $(this).attr("data-parentsku"); arr.push($(this).attr("data-parentsku")); }
            });
            $.each(arr, function (i, val) {
                $("#cartRowBody ." + val).removeAttr("style"); $("#cartRowBody ." + val).last().css({ "border-bottom": "3px solid #FFF" });
                if (i % 2 === 0) { $("#cartRowBody ." + val).children('td, th').css('background-color', '#e4e4e4'); }
                else { /* we are odd */   $("#cartRowBody ." + val).children('td, th').css('background-color', '#ecf0f0'); }
            });
        });
        /*added for cart Item Grouping:End*/
        /*SHipping Prefer Code:Start chk_shippingprefer*/
        $('.radiooptions').change(function () {
            if ($('#chk_shippingprefer').is(":checked")) {
                $("#Custom2").val("S");
            }
            else {
                $("#Custom2").val("D");
            }
        });
            /*SHipping Prefer Code:End yes= S false D*/
    </script>