﻿@using Znode.Engine.WebStore.Models
@model List<BaseDropDownOptions>
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@{
    int userId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0;
    var billingAccountNumber = SessionProxyHelper.GetBillingAccountNumber(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0);
    string _disablePayment = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString["QuoteId"])) ? "disabled='disabled'" : "";
    int quoteId = Convert.ToInt32(Request.QueryString["QuoteId"] ?? "0");
}
<div class="col-xs-12 nopadding" id="allPaymentOptionsDiv">
    <div class="col-xs-12 nopadding inner-container Setbordernone">
        <h3 class="title" id="paymentOptionSrNo">@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
        <div class="col-xs-12 padding-15">
            @using (Ajax.BeginForm("GetPaymentProvider", "Checkout", new AjaxOptions() { UpdateTargetId = "payment-provider-content" }))
            {
                @Html.Hidden("paymentOptionsId", new { @id = "paymentOptionsId" })
                foreach (var option in Model)
                {
                    <div class="col-xs-12 nopadding styled-input">
                        @* <input type="radio" @_disablePayment id="@option.Type@option.Id" data-test-selector="@option.Type@option.Id" data-isApprovalRequired="@option.Status" data-payment-type="@option.Type" data-isOABRequired="@option.CustomStatus" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />*@
                        <input type="radio" @_disablePayment id="@option.Type@option.Id" data-test-selector="@option.Type@option.Id" @((quoteId > 0 && option.IsSelected) ? $"checked='{option.IsSelected}'" : string.Empty) data-isApprovalRequired="@option.Status" data-paymentGroupId=@option.PortalPaymentGroupId data-payment-type="@option.Type" data-isOABRequired="@option.CustomStatus" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                        <label for="@option.Type@option.Id">@option.Text</label>
                    </div>
                }

                <div id="div-CreditCard" class="credit-card-container HidePaymentTypeDiv" style="display:none;">
                    <div class="col-xs-12 nopadding">
                        <div class="Tab-container dynamic-tabs margin-top">
                            <ul id="creditCardTab" class="nav nav-tabs">
                                <li class="active"><a href="#savedCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.LabelSavedCC</a></li>
                                <li><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.AddNewCreditCardDetails</a></li>
                            </ul>
                            <div id="creditCardPanel" class="tab-content clearfix">
                                <!--Panels 1-->
                                <div class="tab-pane fade in active" id="savedCreditCard-panel">
                                    <div id="radioCCList">
                                    </div>
                                </div>
                                <!--Panels 2-->
                                <div class="tab-pane fade" id="addNewCreditCard-panel">
                                    <h3 class="section-heading">@WebStore_Resources.LabelCreditCardDetails</h3>
                                    <div class="col-sm-12 col-md-8 save-cart nopadding">
                                        <div id="paymentProviders">
                                        </div>
                                    </div>
                                    <div id="credit-card-div" class="col-xs-12 col-md-8">
                                        <div class="form-group" id="Save-credit-cardholder-name">
                                            <div class="col-sm-12 nopadding">
                                                <div class="control-md">
                                                    <input type="text" id="CardHolderName" data-payment="cardholderName" maxlength="100" class="form-input-long required" data-test-selector="txtCardHolderName" placeholder="@WebStore_Resources.CreditCardHolderName *" />
                                                    <div id="errorcardholderName" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardHolderName</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 nopadding">
                                                <div class="control-md">
                                                    <input placeholder="@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle *" type="text" data-payment="number" class="creditCardPayment" maxlength="19" id="CredidCardNumber" data-test-selector="txtCreditCardNumber" />
                                                    <div id="errornumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardNumber</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 nopadding">
                                                <div class="control-md">
                                                    <div class="col-xs-2 nopadding"><input type="text" id="CredidCardExpMonth" maxlength="2" data-payment="exp-month" class="creditCardPayment" data-test-selector="txtCredidCardExpMonth" placeholder="(MM)" /></div>
                                                    <div class="col-xs-3"><input type="text" id="CredidCardExpYear" maxlength="4" data-payment="exp-year" class="creditCardPayment" data-test-selector="txtCredidCardExpYear" placeholder="(YYYY)" /></div>

                                                    <div class="col-xs-12 nopadding">
                                                        <span class="sub">@WebStore_Resources.SinglePageCheckoutCreditCardExpirationDate</span>
                                                        <div id="errormonth" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidDate</div>
                                                        <div id="erroryear" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidYear</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 nopadding">
                                                <div class="col-xs-3 nopadding">
                                                    <input placeholder="Security No. *" type="password" id="CredidCardCVCNumber" data-payment="cvc" maxlength="4" class="creditCardPayment" data-test-selector="txtCredidCardCVCNumber" />
                                                </div>
                                                <div class="col-xs-12 nopadding">
                                                    <span class="sub">@WebStore_Resources.HintTextCreditCardSecurityNumber</span>
                                                    <div id="errorcvc" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorValidCVC</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group hidden" id="Save-credit-card">
                                            <div class="col-sm-12 nopadding">
                                                <div class="control-md control-non styled-input">
                                                    <input id="SaveCreditCard" name="SaveCreditCard" type="checkbox">
                                                    <label for="SaveCreditCard">@WebStore_Resources.SaveCreditCardForFutueUse</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Gateway Information*@
                    @Html.Hidden("GatewayCurrencyCode", "USD")
                    @Html.Hidden("paymentProfileId")
                    @Html.Hidden("hdnGatwayName")
                    @Html.Hidden("hdnPaymentCode")
                    @Html.Hidden("hdnEncryptedTotalAmount")
                    @Html.Hidden("BillingAccountNumber", billingAccountNumber)
                </div>
                <div class="col-xs-12 nopadding">
                    <button type="button" class="btn btn-bg-primary" id="btnNeedFaster" onclick="return ShowHidePayment();">@WebStore_Resources.MorePaymentOption</button>
                </div>
                if (string.IsNullOrEmpty(billingAccountNumber))
                {
                    <div class="form-group" id="div-InvoiceMe" style="display:none">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                            <input type="checkbox" class="input-checkbox" name="InvoiceMe" id="InvoiceMe" checked="checked" value="true">
                            <label for="InvoiceMe">@Html.RenderMessage(WebStoreConstants.InvoiceMeTextMessage)</label>
                        </div>
                    </div>
                }
                @*PayPal Express*@
                <div id="div-PaypalExpress" class="col-sm-12 nopadding HidePaymentTypeDiv" style="display:none;">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-lg control-non">
                                <button id="paypal-express-checkout" type="button"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-26px.png" alt="PayPal Checkout"></button>
                                <p class="tinyfade margin-top">@Admin_Resources.LabelPaypalDescription</p>
                            </div>
                        </div>
                    </div>
                </div>

                @*Amazon Pay *@
                if (!Equals(Model, null) && Model.Any(item => Equals(item.Type.ToLower(), "amazon_pay")))
                {
                    Html.RenderAction("AmazonPaymentOptions", "Checkout");
                }
                @Html.Hidden("PaymentSettingId")
            }
            <div id="payment-provider-content">
            </div>
        </div>
    </div>
</div>
@*<script>
        $(document).ready(function () {
            $('#CredidCardNumber').payment('formatCardNumber');
        });
    </script>*@
<script>

    $("#allPaymentOptionsDiv .styled-input").hide();
    $("#allPaymentOptionsDiv .styled-input").first().show();

    function ShowHidePayment() {
        $("#creditCardTab").parent().hide();
        $("#allPaymentOptionsDiv .styled-input").hide();
        $("#allPaymentOptionsDiv .styled-input").show();
        $("#btnNeedFaster").hide();
        $("#creditCardPanel").hide();
        $("#CREDIT_CARD").prop("checked", false);
        $("#CREDIT_CARD2").prop("checked", false);
    }
    $("#CREDIT_CARD2").click(function () {
        $("#creditCardPanel").show();
    });
    $("#CREDIT_CARD_50").click(function () {
        $("#creditCardPanel").show();
    });
    $(document).ready(function () {
        setTimeout(function () {
            $("#CREDIT_CARD2").prop("checked", true).trigger("click");

        }, 200);
    });
    $("#CREDIT_CARD").click(function () {
        //$("#btnNeedFaster").hide();
    });

    $("#CREDIT_CARD2").click(function () {
        $("#creditCardTab").parent().show();
    });

    $("#CREDIT_CARD_50").click(function () {
        $("#creditCardTab").parent().show();
    });
</script>