﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}" ;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;

    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHead")
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)

    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header class="header-checkout">
            @*<div class="container-fluid">
                <div class="col-xs-12 col-sm-5 col-md-2 nopadding">
                    <a href="/" class="header-logo">
                        @{
                            if (string.IsNullOrEmpty(logo))
                            {
                                <h1>@title</h1>
                            }
                            else
                            {
                                <img data-src="@logo" alt="@title" class="img-responsive b-lazy" />
                            }
                        }
                    </a>
                </div>
            </div>*@
            <z-widget>@Html.WidgetPartial("Header", "Header", "101", "PortalMapping")</z-widget>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
              
                    <!-- Notification Msg -->
                    <div class="container-fluid">
                        <div class="col-lg-12 col-xs-12 nopadding">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                   
                </div>
        </div>
        <!--Footer Widgets-->
        <div class="row footer-container">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text text-center">
                            <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_InlineTemplates")

    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    @Scripts.Render("~/bundles/CoreJs")
    @Scripts.Render("~/bundles/ZnodeCoreJs")

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    // Data Layer Initialization
    var dataLayer = [];

    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>


