﻿@using System.Configuration;
@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{
    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
    string cartDesc = Model.CartDescription.Replace("Awct_Size", "Size").Replace("Awct_Color", "Color");
    string ImagePath = Model.CustomText != null ? Model.CustomText : Model.ImagePath;
    string PersonaliseValues = "";
    string PersonaliseImages = "";

    string ProductSku = Model.SKU;

    string[] SplitSku = ProductSku.Split('_');
    string Sku = "";
    try
    { Sku = SplitSku[1]; }
    catch { }
    Sku = Sku + " " + Model.ProductName;

    //writen for the EstimateDate and ColorNum to show on Cart:start
    string ColorNum = ""; string EstimateDate = "";

    string Custom4Value = Model.Custom3 != null ? Model.Custom3 : string.Empty;
    if (Custom4Value != string.Empty)
    {
        string[] stringArray = Custom4Value?.Split('-');
        if (stringArray.Length > 1)
        {
            EstimateDate = Convert.ToString(stringArray[0]);//EstimateDate
            EstimateDate = EstimateDate.Replace("&#", "");
            if (EstimateDate.IndexOf("/") == -1)
            {
                EstimateDate = "&#" + EstimateDate;
            }
            ColorNum = "" + Convert.ToString(stringArray[1]);//ColorValue
            ColorNum = ColorNum.Replace("-", " - ");
        }
    }
    //writen for the EstimateDate and ColorNum to show on Cart:End
    cartDesc = cartDesc.Replace("Color", "Color " + ColorNum);
}

@*added for cart Item Grouping:start desc: added class .awctlineItem sku+parentproductid  added data-parentSku on which SinglePage and _shoppingcart script works *@
<tr style="border-bottom: 2px solid #FFF;" data-parentSku="@Model.ParentProductId" class="@Model.ParentProductId">
    <td class="remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a data-test-selector="linkCartItemRemove" href="#" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
        }
    </td>
    @{
        if (Model?.PersonaliseValuesDetail?.Count > 0)
        {
            PersonaliseValues = "";
            foreach (var item in Model.PersonaliseValuesDetail)
            {
                if (!Equals(item.PersonalizeValue, null) && !Equals(item.PersonalizeValue, string.Empty))
                {
                    if (item.PersonalizeCode.ToString().Contains("Filename"))
                    {
                        PersonaliseImages = item.PersonalizeValue.ToString();
                    }
                    else if (item.PersonalizeCode.ToString().Contains("OptionValue"))
                    {
                        PersonaliseValues += item.PersonalizeValue.ToString();

                    }
                }
            }
        }
        string imageSrc = string.IsNullOrEmpty(PersonaliseImages) ? Model.ImagePath : ConfigurationManager.AppSettings["ZnodeApiRootUri"].ToString() + "/Data/Media/CustomizedSvg/" + PersonaliseImages;
    }
    <td class="cart-item-details">
        <div class="col-xs-12 col-sm-3 col-md-2 nopadding cart-image">
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@imageSrc" data-src="@imageSrc" class="img-responsive" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 nopadding cart-description">
            <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Sku)</a>
            <div class="cart-item-description" data-test-selector="divCartItemDescription">
                @Html.RenderBlock(@PersonaliseValues.ToString().Replace("\\n", "<br />"))
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description">@Html.RenderBlock(cartDesc) </div>
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </td>
    <td class="awctEstimateDateCart1">  @Html.RenderBlock(@EstimateDate)  </td>
    <td class="cart-item-unitprice" data-test-selector="colCartItemUnitPrice">
        <div class="col-xs-12 nopadding">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <div class="group-product-list">
                        @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                    </div>
                }
            }
            else
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, null)
            }
        </div>
    </td>
    <td class="cart-item-quantity Setbordernone" data-test-selector="colCartItemQuantity">
        <div class="col-xs-12 nopadding">
            @Html.Partial("_Quantity", Model)
        </div>
    </td>
    <td class="cart-item-total text-right" data-test-selector="colCartItemTotal">
        <div class="col-xs-12 nopadding cart-result">
            <p>@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
        </div>
    </td>
</tr>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>