﻿<nav class="header-nav yamm" role="navigation">   
        <div class="container-fluid">              
                <div class="navbar-collapse collapse" id="navbar-collapse" data-test-selector="divHeaderCategList">
                    <div class="nopadding">
                        @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
                        @*<a data-test-selector="linkCategoryMenuNextItems" href="javascript:void(0);" class="control_next nav-drop pull-right"><i class="zf-text-view nav-drop-icon"></i></a>*@
                    </div>
            </div>
        </div>
            
    <div class="nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>
</nav>