﻿@using System.Linq;
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 mobile-no-padding  hidden-xs">
            <!-- Breadcrumb -->
            <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
         </div>
        <div class="mobile-no-padding  hidden-sm hidden-md hidden-lg ">
            <!-- Mobile View Code For PDP header and star rating-->
            <h1 class="product-name">@Html.RenderBlock(Model.Name)</h1><br />
            <div class="product-rating">
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
                <a href="#tab-reviews" onclick="javascript: $('#tab-reviews').click();">&nbsp;@ratingText @WebStore_Resources.LinkTextReadReviews</a>
            </div>
        </div>
    </div>
	
    <div class="col-lg-12 col-md-12 mobile-no-padding">
        <div class="product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 product-images">
                @Html.Partial("_ProductImage", Model)
            </div>
          
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-12 col-lg-6 col-sm-12 product-overview">
                @Html.Partial("_ProductOverview", Model)

                @Html.Partial("_ProductInfo", Model)
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
  @*  @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })*@
      @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
     <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title = '@Html.RenderBlock(Model.SEOTitle)';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>

<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(
        { show_event: 'click' }
    );
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        { open_lens_event: 'click' }
    );
</script>