﻿@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{


    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 register-container nopadding">
            <div class="col-xs-12 mobile-no-padding">
                <h1 class="page-title">@WebStore_Resources.TextResetPassword</h1>
            </div>
            <div class="col-xs-12 margin-bottom mobile-no-padding">
                <p>@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mobile-no-padding">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xs-12 nopadding kmirrort margin-bottom">
                        <div class="col-xs-12 backbackgroundset Setbordernone">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "floating-input required", @placeholder = "Username / Email *" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                    @*<label class="required">@WebStore_Resources.LabelUsername</label>*@
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                    <div class="col-xs-12 nopadding">
                        <div class="pull-left">
                            <button type="submit" class="btn-text btn-bg-primary">@WebStore_Resources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text btn-bg-secondary" onclick="javascript: location.href = '/User/Login';">@WebStore_Resources.ButtonCancel</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>