﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@{
    int shippingId = 0;
    int count = 1;
}
@model OrdersViewModel

<div id="layout-account-receipt">
    <div class="container">
        <div class="row user-account">
            @if (HelperUtility.IsNull(Model))
            {
                <div class="col-xs-12 nopadding">
                    <span>@WebStore_Resources.LabelNoRecordFound</span>
                </div>
            }
            else
            {
                <div class="col-xs-12 account-dashboard margin-top nopadding">
                    <div class="col-xs-12 nopadding">
                        <a class="receipt-print pull-right" href="#" onclick="User.prototype.PrintOrderDetails(this)"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                        <h3 class="section-header">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderDetails, Model.OrderNumber.ToString(), @Model.OrderDate.ToDateTimeFormat()))</h3>
                    </div>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="col-xs-12 nopadding">
                            <h3 class="section-header">@WebStore_Resources.LabelStatus:</h3>
                            <div class="col-sm-12 nopadding">
                                <div class="control-lg">
                                    <span>@Html.RenderBlock(Model.OrderState)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div id="cusotmerInformation">
                            <h3 class="section-header">@WebStore_Resources.LabelCustomerInformation</h3>
                            <div class="col-sm-12 nopadding">
                                <div class="control-lg">
                                    <span>@WebStore_Resources.LabelFirstName:</span>
                                    <span>@Html.RenderBlock(Model.FirstName)</span>
                                </div>
                            </div>
                            <div class="col-sm-12 nopadding">
                                <div class="control-lg">
                                    <span>@WebStore_Resources.LabelLastName:</span>
                                    <span>@Html.RenderBlock(Model.LastName)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                <h3 class="section-header">@WebStore_Resources.TextDetails:</h3>
                                <div><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                                <div><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                                <div><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName</div>
                                @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                                {<div><strong>@Admin_Resources.LabelPurchaseOrderNumber</strong> @Model.PurchaseOrderNumber</div>}
                                <div><strong>@WebStore_Resources.TitleTracking:</strong> @Model.TrackingNumber</div>
                                @if (HelperUtility.IsNotNull(Model.CouponCode))
                                {
                                    <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.RenderBlock(Model.CouponCode)</div>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header">&nbsp;</h3>
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header">@WebStore_Resources.TitleBillingTo</h3>
                                @Html.RenderBlock(Model.BillingAddressHtml)
                            </div>
                        </div>

                        <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                            <div class="table-responsive">
                                <table class="table table-tr">

                                    @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                    {
                                        if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                        {
                                            bool headerFlag = false;
                                            if (!Equals(shippingId, items.OmsOrderShipmentId))
                                            {
                                                <tr class="shipment-address">
                                                    <td colspan="7">
                                                        <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                            <div class="user-receipt">
                                                                @*<h3>@WebStore_Resources.ShipmentLable #@count</h3>*@
                                                                <h3>@WebStore_Resources.TitleShippingTo</h3>
                                                                @Html.RenderBlock(items.ShippingAddressHtml)
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                shippingId = items.OmsOrderShipmentId;
                                                count++;
                                                headerFlag = true;
                                            }
                                            if (headerFlag)
                                            {

                                                <tr class="table-heading">
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                                    <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                                    <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                                    <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                                    <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                                </tr>

                                            }

                                            <tr class="receipt-item table-tr">
                                                <td class="table-td receipt-column-item">
                                                    @Html.RenderBlock(items.ProductName)
                                                    <br />
                                                    <div class="cart-item-description">
                                                        @if (items?.PersonaliseValueList?.Count > 0)
                                                        {
                                                            foreach (var item in items?.PersonaliseValueList)
                                                            {
                                                                if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                {
                                                                    <p>
                                                                        @item.Key: @item.Value
                                                                    </p>
                                                                }

                                                            }
                                                        }
                                                    </div>

                                                </td>
                                                <td class="table-td">
                                                    <div>@Html.RenderBlock(@items.Description)</div>
                                                </td>
                                                <td class="table-td">
                                                    <div>@items.OrderLineItemState</div>
                                                </td>
                                                <td class="table-td">
                                                    <div>@Html.RenderBlock(items.TrackingNumber)</div>
                                                </td>
                                                <td class="table-td receipt-column-quantity">
                                                    @if ((items.Quantity) % 1 == 0)
                                                    {
                                                        @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                    }
                                                    else
                                                    {
                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                        @orderedQuantity
                                                    }
                                                </td>
                                                <td class="table-td receipt-column-price">
                                                    @Helper.FormatPriceWithCurrency(items.Price, Model.CurrencyCode, items.UOM)
                                                </td>
                                                <td class="table-td receipt-column-total">
                                                    @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CurrencyCode)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                            @Html.Partial("_ReceiptCalculation", Model)
                        </div>
                        <div class="col-xs-12 margin-top-bottom nopadding return-item-list shopping-cart">
                            @if (Model?.ReturnItemList?.ReturnItemList?.Count > 0)
                            {
                                <h3>@WebStore_Resources.LabelReturnItemList</h3>
                                <div class="table-responsive">
                                    <table class="table table-tr">
                                        <tr class="table-heading">
                                            <th class="table-td receipt-column-item">Product SKU</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelProductName</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelReason</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTax</th>
                                            <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                        </tr>


                                        @foreach (var items in Model?.ReturnItemList?.ReturnItemList)
                                        {
                                            <tr>
                                                @if (items?.GroupProducts?.Count > 0)
                                                {
                                                    string mainProductName = items.ProductName;
                                                    foreach (var product in items.GroupProducts)
                                                    {
                                                        <td>
                                                            @product.Sku
                                                        </td>
                                                        <td>
                                                            <div class="">@mainProductName</div>
                                                            <div>@Html.DisplayTextFor(model => product.ProductName)</div>
                                                            <div class="cart-item-description">@Html.RenderBlock(items.CartDescription)</div>
                                                        </td>
                                                        <td>
                                                            @items.OrderLineItemStatus
                                                        </td>
                                                        <td>
                                                            @items.ReasonForReturn
                                                        </td>
                                                        <td>
                                                            @items.TrackingNumber
                                                        </td>
                                                        <td class="table-td receipt-column-quantity">
                                                            @if ((items.Quantity) % 1 == 0)
                                                            {
                                                                @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                            }
                                                            else
                                                            {
                                                                var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                                @orderedQuantity
                                                            }
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                        </td>
                                                        <td class="table-td receipt-column-price">
                                                            @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                        </td>
                                                        <td class="table-td receipt-column-total">
                                                            @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost, Model.CurrencyCode)
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(items?.ConfigurableProductSKUs))
                                                        {
                                                            <span>@items.ConfigurableProductSKUs</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@items.SKU</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span>@Html.RenderBlock(items.ProductName)</span>
                                                        <div class="cart-item-description">
                                                            @if (items?.PersonaliseValuesList?.Count > 0)
                                                            {
                                                                foreach (var item in items.PersonaliseValuesList)
                                                                {
                                                                    if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                                    {
                                                                        <p> @item.Key : @item.Value </p>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                        @Html.RenderBlock(items.CartDescription)
                                                    </td>
                                                    <td>
                                                        <span>@items.OrderLineItemStatus</span>
                                                    </td>
                                                    <td>
                                                        <span>@items.ReasonForReturn</span>
                                                    </td>
                                                    <td>
                                                        <span>@items.TrackingNumber</span>
                                                    </td>
                                                    <td class="table-td receipt-column-quantity">
                                                        @if ((items.Quantity) % 1 == 0)
                                                        {
                                                            @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                        }
                                                        else
                                                        {
                                                            var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                            @orderedQuantity
                                                        }
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.UnitPrice, Model.CurrencyCode, items.UOM)
                                                    </td>
                                                    <td class="table-td receipt-column-price">
                                                        @Helper.FormatPriceWithCurrency(items.TaxCost, Model.CurrencyCode)
                                                    </td>
                                                    <td class="table-td receipt-column-total">
                                                        @Helper.FormatPriceWithCurrency(items.ExtendedPrice + items.TaxCost, Model.CurrencyCode)
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
