﻿@using Znode.Engine.WebStore.Agents
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
@{
    string _title = Convert.ToString(ViewBag.Title);
    string _description = Convert.ToString(ViewBag.Description);
    string _keyword = Convert.ToString(ViewBag.Keywords);
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/";
    string faviconimage = !string.IsNullOrEmpty(_portal.FaviconImage) ? MediaPaths.MediaPath + _portal.FaviconImage : $"favicon.ico";

    var currentURL = HttpContext.Current.Request.Url.AbsoluteUri;
    string canonicalURL = "";
    string contentSecurityPolicy = _portal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.ContentSecurityPolicy)?.AttributeValue;

    if (currentURL.Contains("?"))
    {
        canonicalURL = currentURL.Substring(0, currentURL.IndexOf('?'));
    }
    else
    {
        canonicalURL = currentURL;
    }
    string logo = !string.IsNullOrEmpty(_portal.WebsiteLogo) ? MediaPaths.MediaPath + _portal.WebsiteLogo : string.Empty;
}
@Html.Partial(Helper.GetThemeFilePath(_fileLocation, "/Views/Home/_StoreAnalytics.cshtml"), PortalAgent.CurrentPortal)
<title>@Html.RenderBlock(_title)</title>
<link href="@faviconimage" rel="shortcut icon" type="image/x-icon" onerror="this.onerror = null; this.src = 'favicon.ico'">
<meta name="description" content="@Html.RenderBlock(_description)" />
@Html.RenderBlock(contentSecurityPolicy)
<meta name="keywords" content="@Html.RenderBlock(_keyword)">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="canonical" href="@canonicalURL" />
<link href="@Helper.GetThemeFilePath(_fileLocation, "/Content/bootstrap-3.3.7/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Helper.GetThemeFilePath(_fileLocation, "/Content/css/" + _portal.Css + ".min.css")" rel="stylesheet" />
<script src="@Helper.GetThemeFilePath(_fileLocation, "/Content/bootstrap-3.3.7/js/bootstrap.min.js")" async></script>
<script src="@Helper.GetThemeFilePath(_fileLocation, "/Scripts/lib/event.min.js")" async></script>
<!-- Nivi Code for Schema.org for Structured Data tool -->
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Organization",
    "@@id" :"@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)",
    "name" : "A Wish Come True",
    "url" : "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)",
    "logo" : "@logo",
    "contactPoint": [{
    "@@type" : "ContactPoint",
    "telephone" : "1.800.755.2248",
    "contactType" : "customer service",
    "contactOption" : "TollFree"
    }],
    "sameAs" : [
    "https://www.facebook.com/awishcometruedance/",
    "https://twitter.com/awishcometrue",
    "https://www.pinterest.com/wishdance/",
    "https://www.instagram.com/awishcometruedance/",
    "https://www.youtube.com/user/Awct123"
    ]
    }
</script>

