﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
<div class="col-xs-12 col-sm-6 nopadding cart-giftcart">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", new { isGiftCard = true }, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('giftcard')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyGiftCard" })
                        )
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <p>@WebStore_Resources.LabelGiftCardNumber</p>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="input-group" id="cart-apply-giftCard">
                    <input type="text" id="giftCard" name="discountCode" value="@Model.GiftCardNumber" class="form-input" size="40" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn-text red">@WebStore_Resources.ButtonApply</button>
                    </span>
                </div>
            </div>
        </div>
    }
    <div id="giftCardMessageContainer"></div>
</div>