﻿@using Znode.Engine.WebStore.ViewModels
@model PaymentSettingViewModel

<div id="payWithAmazonDiv" style="display:none"> </div>
@if(!Equals(Model,null))
{
<script>
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("@Model.TransactionKey");
    };
</script>
<script type='text/javascript' src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"> </script>

<script type="text/javascript">
    var shippingOptionId = $("input[name='ShippingOptions']:checked").val();
    var shippingAddressId = $("#shipping-content").find("#AddressId").val();
    var shippingCode = $("input[name='ShippingOptions']:checked").attr("data-shippingCode");
    OffAmazonPayments.Button("payWithAmazonDiv", "@Model.GatewayUsername", {
        type: "PwA",
        useAmazonAddressBook: true,
        authorization: function () {
            amazon.Login.authorize({ scope: "profile payments:widget payments:shipping_address" },
            document.location.origin + "/Checkout/GetAddressDetails?shippingOptionId=" + $("input[name='ShippingOptions']:checked").val() + "&shippingAddressId=" + $("#shipping-content").find("#AddressId").val() + "&shippingCode=" + $("input[name='ShippingOptions']:checked").attr("data-shippingCode") + "&paymentSettingId=" + $('#PaymentSettingId').val() + "&paymentApplicationSettingId=" + $("#hdnPaymentApplicationSettingId").val() + "&clientId=" + '@Model.TransactionKey' + "&sellerId=" + '@Model.GatewayUsername');
        },
        onError: function (error) {
            alert(error.getErrorCode() + ": " + error.getErrorMessage());
        }
    });
</script>
}