﻿@using Znode.Engine.Admin.ViewModels
@model OrderStatusList
@{
            Layout = null;
}
@using (Ajax.BeginForm("UpdateOrderText", "order"
                                                , new AjaxOptions
                                                {
                                                    UpdateTargetId = "divShoppingCart",
                                                    OnBegin = "return Order.prototype.UpdateOrderTextDetails()"
                                                }, new { @class = "dirtylisten dirty" }))
{
    <div class="col-sm-12">
        <div class="row">
            @Html.HiddenFor(model => model.OmsOrderId)
            @Html.TextBoxFor(model => model.OrderTextValue,new { @data_test_selector = "txtOrderTextValue" }) 
            @Html.HiddenFor(model => model.pageName)
            <button type="submit" class="btn-narrow-icon dirtyignore" title="Save" data-test-selector="btnOrderValueSave"><i class="z-ok"></i></button>
            <button type="button" class="btn-narrow-icon" title="Cancel" onclick="Order.prototype.OnTotalTableCancelEdit('@Model.pageName','@Model.OrderTextValue')" data-test-selector="btnOrderValueCancel"><i class="z-close"></i></button>
        </div>
    </div>
}
