﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;
@model OrderInfoViewModel
@{
    string _displayPODocument = !string.IsNullOrEmpty(Model.PODocumentName) ? "display:block" : "display:none";
    string PODocument = !string.IsNullOrEmpty(Model.PODocumentName) ? HelperUtility.GetFilePath(Model.PODocumentName.Replace("~", string.Empty)) : "#";
    Layout = null;
    string shippingTypeClass = Model.ShippingTypeClassName == "ZnodeCustomerShipping" ? "display:block" : "display:none";
}
<div class="col-sm-12 nopadding dashboard-panel ">
    <div class=" dashboard-panel-heading">
        <h4 class="dashboard-panel-title" data-test-selector="hdgOrderInformation">@Admin_Resources.HeaderOrderInformation</h4>
    </div>
    <div class="col-sm-12 nopadding margin-bottom-15">
        <div class="order-subtitle">
            <h4>Order Summary</h4>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6 padding-none">
                <div class="form-group">
                    <div class="col-sm-12 nopadding ">
                        <div class="control-label order-label">
                            @Html.Label(Admin_Resources.LabelOrderDate, new { @data_test_selector = "lblOrderDate" })
                        </div>
                        <div class="control-lg update-order-status dirtyignore order-controLg-width" data-test-selector="divOrderDate">
                            @Html.RenderBlock(Model.OrderDateWithTime)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label order-label">
                            @Html.Label(Admin_Resources.LableOrderStatus, new { @data_test_selector = "lblOrderStatus" })
                        </div>
                        <div class="control-lg update-order-status dirtyignore orderInfo-control-lg order-controLg-width">
                            <span id="Order_State" data-test-selector="spnOrderStatus">
                                @Html.RenderBlock(HelperUtility.IsNull(Model.OrderStatus) ? string.Empty : Model.OrderStatus)
                            </span>
                            @Ajax.ActionLink(" ", "ManangeOrderStatus", "order", new { omsOrderId = Model.OmsOrderId, orderStatus = Model.OrderStatus, pageName = "OrderStatus" },
                               new AjaxOptions
                               {
                                   UpdateTargetId = "Order_State",
                                   OnBegin = "Order.prototype.HideOrderStatusForUpdate()",
                                   OnSuccess = $"Order.prototype.SetOrderStatusForUpdate('{Model.OrderStatus}')",
                                   InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "GET",
                               }, new { @id = "btnChangeOrderStatus", @class = "z-Edit edit-action", oncontextmenu = "return false;", @data_test_selector = "linkEditOrderStatus" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label order-label">
                            @Html.Label(Admin_Resources.LabelOrderNumber, new { @data_test_selector = "lblOrderNumber" })
                        </div>
                        <div class="control-lg update-order-status dirtyignore order-controLg-width" data-test-selector="divOrderNumber">
                            @Html.RenderBlock(Model.OrderNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 padding-none pull-right">
                <div class="order-created-by">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="control-label order-label">
                                @Html.Label(Admin_Resources.LabelOrderCreatedBy, new { @data_test_selector = "lblOrderCreatedBy" })
                            </div>
                            <div class="control-lg update-order-status dirtyignore" data-test-selector="divOrderCreatedBy">
                                @Html.RenderBlock(Model.CreatedByName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-created-by">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="control-label order-label">
                                @Html.Label(Admin_Resources.LabelStoreName, new { @data_test_selector = "lblStoreName" })
                            </div>
                            <div class="control-lg update-order-status dirtyignore" data-test-selector="divStoreName">
                                @Html.RenderBlock(Model.StoreName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-none margin-top billing-info">
            <div class="order-subtitle">
                <h4>Billing</h4>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.LabelPaymentMethod, new { @data_test_selector = "lblPaymentMethod" })
                    </div>
                    <div class="control-lg update-order-status dirtyignore">
                        <span id="spanPaymentType" data-test-selector="spnPaymentMethod">
                            @Html.RenderBlock(HelperUtility.IsNull(Model.PaymentDisplayName) ? string.Empty : Model.PaymentDisplayName)
                        </span>
                    </div>
                </div>
            </div>

            @if (Model.PaymentType == ZnodeConstant.COD || Model.PaymentType == ZnodeConstant.PurchaseOrder)
            {
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div id="Payment-Status" class="control-label padding-left">
                            @Html.Label(Admin_Resources.LabelPaymentStatus, new { @data_test_selector = "lblPaymentStatus" })
                        </div>
                        <div class="control-lg dirtyignore orderInfo-control-lg">
                            <span id="labelPaymentStatus" data-test-selector="spnPaymentStatus">
                                @Html.RenderBlock(HelperUtility.IsNull(Model.PaymentStatus) ? string.Empty : Model.PaymentStatus)
                            </span>
                                @Ajax.ActionLink(" ", "ManangeOrderStatus", "order", new { omsOrderId = Model.OmsOrderId, orderStatus = Model.PaymentStatus, pageName = "PaymentStatus" },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "labelPaymentStatus",
                                        OnBegin = "Order.prototype.HideStatusForUpdate",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                    }, new { @id = "btnChangePaymentStatus", @class = "z-Edit edit-action" , oncontextmenu = "return false;", @data_test_selector = "linkEditPaymentStatus" })
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-label padding-left">
                            @Html.Label(Admin_Resources.LabelPaymentStatus, new { @data_test_selector = "lblPaymentStatus" })
                        </div>
                        <div class="control-lg">
                            <span id="labelPaymentStatus" data-test-selector="spnPaymentStatus"> @Html.RenderBlock(HelperUtility.IsNull(Model.PaymentStatus) ? string.Empty : Model.PaymentStatus)</span>
                        </div>
                    </div>
                </div>
                if (Model.PaymentType == ZnodeConstant.CreditCard)
                {
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label padding-left">
                                @Html.Label(Admin_Resources.LabelCreditCardNumber, new { @data_test_selector = "lblCreditCardNumber" })
                            </div>
                            <div class="control-lg">
                                xxx-xxx-xxx-@Html.RenderBlock(Model.CreditCardNumber)
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.LabelTransactionId, new { @data_test_selector = "lblTransactionId" })
                    </div>
                    <div class="control-lg div-transaction" data-test-selector="divTransactionId" style="width:46% !important">
                        @Html.RenderBlock(HelperUtility.IsNull(Model.TransactionId) ? string.Empty : Model.TransactionId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.LabelTaxTransactionNumber, new { @data_test_selector = "lblTaxTransactionNumber" })
                    </div>
                    <div class="control-lg" data-test-selector="divTransactionNumber">
                        @Html.RenderBlock(HelperUtility.IsNull(Model.TaxTransactionNumber) ? string.Empty : Model.TaxTransactionNumber)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.LabelPurchaseOrderNumber, new { @data_test_selector = "lblPurchaseOrderNumber" })
                    </div>
                    <div class="control-lg" data-test-selector="divPurchaseOrderNumber">
                        @Html.RenderBlock(HelperUtility.IsNull(Model.PurchaseOrderNumber) ? string.Empty : Model.PurchaseOrderNumber)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 padding-none pull-right margin-top shipping-info">
            <div class="order-subtitle">
                <h4>Shipping</h4>
            </div>
            <div style="@_displayPODocument">
                <div class="form-group dirtyignore">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.LabelPODocument, new { @data_test_selector = "lblPODocument" })
                    </div>
                    <div class="document-files control-lg">
                        <a href="@PODocument" id="jumpto-readDocument" target="_blank" class="btn-text btn-margin-left">@Admin_Resources.ButtonDownload</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        @Html.Label(Admin_Resources.ShippingType, new { @data_test_selector = "lblShippingType" })
                    </div>
                    <div class="control-lg">
                        <span id="lblShippingType" data-test-selector="divShippingType">
                            @Html.RenderBlock(HelperUtility.IsNull(Model.ShippingTypeDescription) ? string.Empty : HttpUtility.HtmlDecode(Model.ShippingTypeDescription))
                        </span>
                        <a class="dirtyignore" id="btnShippingType" onclick="Order.prototype.changeShippingMethod();" href="#" data-test-selector="linkEditShippingType"><i class="z-Edit edit-action"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 nopadding" id="customerShippingDiv" style="@shippingTypeClass">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label padding-left">
                                @Html.LabelFor(model => model.AccountNumber, new { @class = "required", @data_test_selector = "lblAccountNumber" })
                            </div>
                            <div class="control-lg">
                                <span id="labelShippingAccountNumber" data-test-selector="spnAccountNumber">
                                    @Html.RenderBlock(HelperUtility.IsNull(Model.AccountNumber) ? string.Empty : Model.AccountNumber)
                                </span>
                                @Ajax.ActionLink(" ", "ManangeShippingAccountNumber", "order", new { shippingAccountNumber = Model.AccountNumber, omsOrderId = Model.OmsOrderId },
                                new AjaxOptions
                                {
                                    OnBegin = "Order.prototype.HideShippingAccountNumber",
                                    UpdateTargetId = "labelShippingAccountNumber",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                }, new { @id = "btnChangeShippingAccountNumber", @class = "z-Edit edit-action", @oncontextmenu = "return false;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label padding-left">
                                @Html.LabelFor(model => model.ShippingMethod, new { @class = "required", @data_test_selector = "lblShippingMethod" })
                            </div>
                            <div class="control-lg">
                                <span id="labelShippingMethod" data-test-selector="spnShippingMethod">
                                    @Html.RenderBlock(HelperUtility.IsNull(Model.ShippingMethod) ? string.Empty : Model.ShippingMethod)
                                </span>
                                @Ajax.ActionLink(" ", "ManangeShippingMethod", "order", new { shippingMethod = Model.ShippingMethod, omsOrderId = Model.OmsOrderId },
                                new AjaxOptions
                                {
                                    OnBegin = "Order.prototype.HideShippingMethod",
                                    UpdateTargetId = "labelShippingMethod",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                }, new { @id = "btnChangeShippingMethod", @class = "z-Edit edit-action", @oncontextmenu = "return false;", @data_test_selector = "linkEditShippingMethod" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        <label data-test-selector="lblTrackingNumber">@Admin_Resources.LabelTrackingNumber</label>
                    </div>
                    <div class="control-lg orderInfo-control-lg">
                        <span id="labelTrackingNumber" data-test-selector="spnTrackingNumber">
                            @if (HelperUtility.IsNotNull(Model.ShippingTrackingUrl))
                            {
                                <a target="_blank" href="@Html.RenderBlock(Model.ShippingTrackingUrl)@Model.TrackingNumber">
                                    @Html.RenderBlock(HelperUtility.IsNull(Model.TrackingNumber) ? string.Empty : HttpUtility.HtmlDecode(Model.TrackingNumber))
                                </a>
                            }
                            else
                            {
                                @Model.TrackingNumber
                            }
                        </span>
                        @Ajax.ActionLink(" ", "ManangeTrackingNumber", "order", new { trackingNumber = Model.TrackingNumber, omsOrderId = Model.OmsOrderId },
                                new AjaxOptions
                                {
                                    OnBegin = "Order.prototype.HideTrackingNumber",
                                    UpdateTargetId = "labelTrackingNumber",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                }, new { @id = "btnChangeTrackingNumber", @class = "z-Edit edit-action", @oncontextmenu = "return false;", @data_test_selector = "linkEditTrackingNumber" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        <label data-test-selector="lblExternalId">@Admin_Resources.LabelExternalId</label>
                    </div>
                    <div class="control-lg">
                        <span id="labelExternalId" data-test-selector="spnExternalId">
                            @Model.ExternalId
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.PortalId)
    @Html.HiddenFor(model => model.userId, new { @id = "hdnUserId" })
    @Html.HiddenFor(model => model.OmsOrderId)
    @Html.HiddenFor(model => model.ShippingTypeId)
    @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
    @Html.HiddenFor(model => model.PaymentType)
    @Html.HiddenFor(model => model.OrderStatus, new { @id = "hdnOrderStatus" })
    @Html.HiddenFor(model => model.PaymentStatus, new { @id = "hdnPaymentStatus" })
    @Html.HiddenFor(model => model.ShippingTrackingUrl, new { @id = "hdnShippingTrackingUrl" })
    @Html.HiddenFor(model => model.ShippingTypeClassName, new { @id = "hndShippingclassName" })
    @Html.HiddenFor(model => model.AccountNumber, new { @id = "hdnShippingAccountNumber" })
    @Html.HiddenFor(model => model.ShippingMethod, new { @id = "hdnShippingMethod" })
</div>
