﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="footer-information">
        <div class="footer_infoContainer">
            <div class="col-xs-12 col-sm-12 col-md-12 footer-shop">
                <!--Contact Us-->
                <div class="col-xs-12  col-sm-3 footer-shop">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3>@WebStore_Resources.LinkTextContactus</h3>
                        </div>
                        <div class="Footer-Contactus-Section" data-test-selector="divFooterHelpWidget">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterContactSection", "2244", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>                       
						</div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingOne">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    @WebStore_Resources.LinkTextContactus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterHelpWidget">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "FooterContactSection", "2244", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--FAQ's-->
                <div class="col-xs-12  col-sm-3 footer-shop">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3>@WebStore_Resources.LabelAwctFAQ</h3>
                        </div>
                        <div class="footer-help-section-link">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterFaqSection", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingTwo">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold" -test-selector="lblFooterHelpHeading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @WebStore_Resources.LabelAwctFAQ
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterHelpWidget">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "FooterFaqSection", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Policies-->
                <div class="col-xs-12  col-sm-3 footer-shop">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.LabelAwctPolicies</h3>
                        </div>
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterPolicySection", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingThree">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @WebStore_Resources.LabelAwctPolicies
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block" data-test-selector="divFooterInfoWidget">
                                <z-widget>@Html.WidgetPartial("LinkPanel", "FooterPolicySection", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                            </div>
                        </div>
                    </div>
                </div>
                <!--We Accept-->
                <div class="col-xs-12  col-sm-3 footer-shop">
                    <div class="widget hidden-xs-down hidden-xs">
                        <div class="header-footer">
                            <h3 data-test-selector="lblFooterInfoHeading">@WebStore_Resources.LabelAwctPolicies</h3>
                        </div>
                        <div data-test-selector="divFooterInfoWidget">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "FooterWeAccept", "2265", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up hidden-lg hidden-md hidden-sm">
                        <div role="tab" id="headingFour">
                            <h4 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    @WebStore_Resources.LinkTextWeAccept
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-block" data-test-selector="divFooterInfoWidget">
                                <div id="weacceptcard" data-test-selector="divPaymentGatewayList">
								<br><br>
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "FooterWeAccept", "2265", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row footer-Share">
    <div class="footer-shareinformation">
        <div class="footer_infoContainer">
            <div class="col-xs-12 col-sm-4 footer-shareicon hidden-xs" data-test-selector="divSocialMediaList">
                <!--Socal Media Widget-->
                <b class="hidden-xs hidden-sm">@WebStore_Resources.LabelShareUs</b>
                <z-widget>@Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
            <div class="col-xs-12 col-sm-7 icon">
                <div class="col-lg-12 col-md-12 footer-center-text">
                    @Html.RenderMessage("FooterAddressContent")
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 icon1">
                @Html.RenderMessage("FooterAuthorizedLink")
				<div class="hidden-sm hidden-lg hidden-md pull-left margin-top">
					<z-widget>@Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="footcopyright">
        <div class="container">
            <div class="row text-center">
                <div class="nopadding footer-copyright-text">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top"><i class="zf-up"></i></a>