﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="view-item category-item">
    <div class="col-lg-12 col-md-12 nopadding kwrap text-justify">
        <div class="col-lg-3 com-md-3 col-xs-12">
            <div class="category-img">
                <a href="@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)">
                    <div class="image">
                        <img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" />
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-9 com-md-9 col-xs-12">
            <div class="category-details">
                <h2><a href="@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null,Model.CategoryId)">@WebUtility.HtmlDecode(Model.CategoryName)</a></h2>
                <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
            </div>
        </div>
    </div>
    
</div>
