﻿@using Znode.Engine.WebStore.ViewModels
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@model IEnumerable<CategorySubHeaderViewModel>
 
@foreach (var subCategory in Model)
{
    string classname = "";
    if (subCategory.ChildCategoryItems.Count > 0)
    {
        classname = "dropdown-submenu";
    }
    <li class="@classname"> 
        <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" class="dropdown-toggle" data-test-selector="linkSubCategoryItemList"> @WebUtility.HtmlDecode(subCategory.CategoryName)</a>
        @if (subCategory.ChildCategoryItems.Count > 0)//!Equals(subCategory.ChildCategoryItems, null) && 
        {
            <ul class="dropdown-menu">               
                @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
            </ul>
        }
        
    </li>
}      

                                    