﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    //searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    if (Request.QueryString[WebStoreConstants.PageSize] == null || Request.QueryString[WebStoreConstants.PageSize] == "")
    {
        searchProperties.Add(WebStoreConstants.PageSize, 40);
    }
    else
    {
        searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    }
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="container-fluid">
    <div class="col-lg-12 nopadding">
        <div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">

            <!-- Breadcrumb -->
            <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
                @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
            {
                    @Html.RenderBlock(Model.BreadCrumbHtml)
                }
            </div>


            <aside class="col-xs-12 col-sm-3 col-lg-2 col-md-2 side-bar mobile-no-padding">
                <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", Model.CategoryName, Model.CategoryId)</z-widget>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 col-lg-10 col-md-10 category-landing-container">
                <div class="col-xs-12 nopadding brand-banner">
                    <div class="col-sm-12 nopadding">
                        <h1 data-test-selector="lblCategoryName">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                        <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                   @*  <div class="col-sm-3 nopadding">
                        <img data-test-selector="imgCategory" src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="Image" title="@Attributes.Value(Model.Attributes, "ImageAltText")" />
                    </div>*@
                </div>
                @* <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>*@

                <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
            </div>
            @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
            {
                if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                {
            <div class="col-xs-12 nopadding">                
                <div class="category-more text-center margin-top-bottom">
                    <a href="@domainurl@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">
                        @*@WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)*@
                        View All
                    </a>
                </div>
            </div>
                }
            }
           
        </div>
        <input type="hidden" value="@Model.CategoryId" id="categoryId" />
        <input type="hidden" value="0" id="parentCategoryId" />
    </div>
</div>