﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using System.Threading.Tasks;

@using Znode.Engine.WebStore.ViewModels;
@{
    var _portal = PortalAgent.CurrentPortal;
    int portalId = _portal.PortalId;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.FirstOrDefault(x => x.AttributeCode == "LoginRequired")?.AttributeValue);
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    string logo = !string.IsNullOrEmpty(_portal.WebsiteLogo) ? MediaPaths.MediaPath + _portal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    bool isGuestUser = true;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
    int wishlistCount = 0;
    if (currentUser != null)
    {
        isGuestUser = currentUser.Profiles.Where(x => x.ProfileId == 5).Count() > 0 ? true : false;
        wishlistCount = currentUser.WishList.Count();
    }
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}

<!--Desktop/Laptop View Code-->
<div class="container-fluid hidden-xs">
    <div class="row header-local-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding" id="topheaderlogodesktop">
                    <div id="topheaderlogoMain">
                        <div class="col-lg-4 col-md-6 col-sm-6 text-left logo-center">
                            @Html.RenderMessage("TopHeaderLogos")
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 text-right bcomecustmobile padding-left-0" id="TopHeaderUser">
                            <ul class="TopUlli1">
                                @if (!isGuestUser)
                                {
                                    if (Request.IsAuthenticated)
                                    {
                                        <li class="setfirst"><a href="/cart" class="CartUser setfirst">@WebStore_Resources.TextCartItems: <span class='cartcount'></span></a></li>
                                        @*<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>@WebStore_Resources.TextCartTotal:<span class="totallign"></span*@
                                        <li class="setfirst hidden"><a href="/cart" class="CartUser">&nbsp;<span class='cartcount'></span></a></li>
                                        @*<li class="setfirst"><span class="loginStatus"></span></li>*@
                                        <li class="setfirst">
                                            <span class="loginStatus">
                                                @Html.Action("LoginStatus", "User")
                                            </span>
                                        </li>
                                    }

                                }
                                else if (isGuestUser)
                                {
                                    if (!Request.IsAuthenticated)
                                    {

                                        <li class="becomeacustomer">
                                            @Html.RenderMessage("TopHeaderBecomeACustomer")
                                           @* <a class="becomeacustomer setfirst" href="../NewCustomerApplication">@WebStore_Resources.TitleBecomeACustomer</a>*@
                                        </li>
                                        <li class="dropdown setfirst" id="menu2">
                                            <a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink" class="NotLoginUser setfirst">@WebStore_Resources.TitleLogin</a>
                                        </li>
                                    }
                                    else
                                    {
                                        @*<li class="LoginUser"><span class="loginStatus"></span></li>*@
                                        <li class="LoginUser">
                                            <span class="loginStatus">
                                                @Html.Action("LoginStatus", "User")
                                            </span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Mobile View Code-->
<div class="container-fluid hidden-lg hidden-md hidden-sm">
    <div class="row header-local-container">
        <div class="col-xs-12 mobile-no-padding" id="topheaderlogomobile">

        </div>
    </div>
</div>
<div class="container-fluid headerheight">
    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 nopadding">
        <div class="col-lg-2 col-xs-12 col-sm-3 col-md-2 hidden-xs">
            <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                @{
                    if (string.IsNullOrEmpty(logo))
                    {
                        <h1>@title</h1>
                    }
                    else
                    {
                        <img data-src="@logo" src="@logo" alt="Logo" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                    }
                }
            </a>
        </div>

        <div class="padding-top-set">
            <div class="col-lg-5 col-xs-12 col-sm-4 col-md-5 text-right hidden-xs hidden-sm">
                <!--Code for calculate Approximate Ship Date Start -->
                @{
                    <p class="middletexttop">@Html.RenderMessage("TopLineMessage") <div style="display:none"> @Html.Partial("_ApproximateDateCalculate")</div></p>
                }
                <!--Code for calculate Approximate Ship Date End -->
            </div>
        </div>

        <div class="col-lg-5 col-xs-12 col-sm-9 col-md-5 header-link-contain mobile-no-padding">
            <div class="col-lg-12 col-xs-12 mobile-no-padding">
                <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
    </div>
</div>
<div class="header-nav-container">
    <div class="navbar navbar-AWCT" role="navigation">
        <div class="container-fluid">            
            <div class="Hamburger_on_StickyBar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle button-simple" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="middletexttop hidden-md hidden-sm hidden-lg">@Html.RenderMessage("TopLineMessage")</p>
                </div>
                <!--Navigation Widget-->
                <div id="CategoryNavBar">
                    <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
            <div class="row hidden-xs" id="StickyBar" style="display:none">
                <div class="col-lg-12 col-sm-12 col-md-12 nopadding">
                    <div class="col-lg-1 hidden-sm col-md-1 nopadding" id="stickylogo">

                    </div>
                    <div class="col-lg-9 col-sm-10 col-md-9 nopadding">
                        <div class="navbar-header StickyMenuBtn">
                            <button type="button" class="navbar-toggle button-sticky" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="TopLevelNavigation" class="StickyMenuUlLi">

                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 text-right nopadding">
                        <ul class="col-lg-12" id="stickyUlLi">
                            @if (!isGuestUser)
                            {
                                if (Request.IsAuthenticated)
                                {
                                    <li>
                                        <a href="/cart" class="CartUser setfirst" title="Cart Items" style="margin-left: -10px;">
                                            <i class="zf-cart"></i><span class='cartcount' style="font-size:12px;"></span>
                                        </a>
                                    </li>
                                    <li class="hidden"><a href="/cart" class="CartUser">&nbsp;<span class='cartcount'></span></a></li>
                                    <li class="Account">
                                        <a href="/User/Dashboard" class="setfirst" title="Account Details">
                                            <i class="zf-login-user"></i>
                                        </a>
                                        <div class="Account-content nopadding">
                                            @Html.Partial("_AccountMenu")
                                            <a href="/User/Logout" class="text-center" title="Logout"> Log Off </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a title="Click for Search" onclick="myFunction()" class="setfirst">
                                            <i id="CallSerchBox" class="zf-search"></i>
                                        </a>
                                    </li>
                                }

                            }
                            else if (isGuestUser)
                            {
                                if (!Request.IsAuthenticated)
                                {
                                    <li>
                                        <a title="Click for Search" onclick="myFunction()" class="setfirst">
                                            <i id="CallSerchBox" class="zf-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" title="Login" onclick="User.prototype.LoginMethod()" id="loginLink" class="NotLoginUser setfirst">
                                            <i class="zf-login-user"></i>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="/User/Dashboard" class="setfirst" title="Account Details">
                                            <i class="zf-login-user"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8 col-md-6 pull-right" id="StickySearchDiv" style="display:none">
                        <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get" }).done(function (t) { $(".cartcount").html(t); });
    // Script for call TOP HEADER LOGOs as par divices //
    $(document).ready(function () { screen.width > 600 ? $("#topheaderlogodesktop").append($("#topheaderlogoMain")) : $("#topheaderlogomobile").append($("#topheaderlogoMain")) });
</script>
<script>
    function scrollFunction() { document.body.scrollTop > 155 || document.documentElement.scrollTop > 155 ? (document.getElementById("StickyBar").style.top = "0", document.getElementById("StickyBar").style.display = "block", document.getElementById("StickyBar").style.background = "#ECF0F0") : (document.getElementById("StickyBar").style.top = "155px", document.getElementById("StickyBar").style.display = "none") } function myFunction() { var e = document.getElementById("StickySearchDiv"); "none" === e.style.display ? (e.style.display = "block", document.getElementById("CallSerchBox").className = "zf-close") : (e.style.display = "none", document.getElementById("CallSerchBox").className = "zf-search") } window.onscroll = function () { scrollFunction() };
</script>
<script>
    // Get Clone And Append to StickyBar
    $(document).ready(function () {
        $(".header-logo").clone().appendTo("#stickylogo"),
            $("#SearchBar").clone().appendTo("#StickySearchDiv"),
            $("#TopLevelNavigation").html(""),         
            $("#TopLevelNavigation").html($("#CategoryNavBar").html())
    });
     // For StickyBar Menu Dropdown Show and Hide
    $(".button-sticky").click(function () {
        $("#TopLevelNavigation").show();
        $("#CategoryNavBar").hide();
    });
    $(".button-simple").click(function () {
        $("#CategoryNavBar").show();
        $("#TopLevelNavigation").hide();
    });

    // For Multiple Menu Dropdown
    $(document).ready(function () { $("ul.nav li").hover(function () { $(this).find(".set1").stop(!0, !0).delay(0).fadeIn(0) }, function () { $(this).find(".set1").stop(!0, !0).delay(0).fadeOut(0) }) });
</script>