﻿@using Microsoft.AspNet.Identity
@using Znode.Engine.Admin.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="user-profile">
            <div class="col-sm-12 nopadding">
                <div class="col-sm-4 nopadding">
                    <img src="~/Content/Images/user-profile.png" class="img-responsive user-profile-img" />
                </div>
                <div class="col-sm-8 nopadding profile-details">
                    <h4 title="@User.Identity.GetUserName()">@User.Identity.GetUserName()</h4>                    
                </div>
            </div>
            <div class="col-sm-12 action-container">
                @Html.ActionLink("Change Password", "ChangePassword", "User", new { area = "" }, new { @class = "btn-text pull-left" })
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn-text btn-text-secondary pull-right" id="log-off">@Admin_Resources.LableLogoff</a>
            </div>
        </div>
    }
}
else
{
    <div class="user-profile-details">
        <div class="col-sm-12 nopadding">
            <h4 class="title">@Admin_Resources.HeaderAdministratorDetails</h4>
        </div>
        <div class="col-sm-12 margin-top-bottom">
            @Html.ActionLink("Log in", "Login", "User", new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "btn-text pull-right" })
        </div>
    </div>
}
