﻿@using Znode.Engine.Admin.Models
@model Znode.Engine.Admin.ViewModels.MediaManagerViewModel
@{
    Layout = null;
}

<div id="uploadPopup" class="media-upload-view">
    <input type="hidden" name="isUploadPopup" id="isUploadPopup" value="true" />
    <input type="hidden" name="MediaList" id="MediaList" value="/MediaManager/MediaManager/List" />
    <aside>
        <div class="slide-container">
            @Html.Partial("~/Views/Shared/Controls/_TreeView.cshtml", Model.TreeView)
        </div>
    </aside>
    <section class="main-container">
        @Html.Partial("~/Areas/MediaManager/Views/MediaManager/FileUploader.cshtml", Model.PopupViewModel)
        <div class="col-sm-12 nopadding">
            <div id="divErrorMessage" class="text-danger" style="display:none">
                <div class="col-sm-12 nopadding notification-msg" id="body">
                    <div class="messageBoxContainer error-msg text-center margin-bottom" id="messageBoxMediaManagerContainerId" data-test-selector="divMessageBoxMediaManager">@MediaManager_Resources.TitleInvalidFileName</div>
                </div>
            </div>

            <div id="View_GetMediaPathDetail">
                <div class="col-sm-12 nopadding" id="mediaList">
                    @using (Ajax.BeginForm("List", "MediaManager", new { displayMode = "Tile" }, new AjaxOptions() { UpdateTargetId = "View_GetMediaPathDetail", OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                    {
                        <div id="filterComponent">
                            @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                        </div>
                    }
                    <div class="col-sm-12 list-container">
                        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                        new PopupModel()
                        {
                            Title = @MediaManager_Resources.TextFileAlreadyExists,
                            Description = @MediaManager_Resources.DescriptionFileAlreadtExists,
                            ModalPopUpId = "MediaFileAlreadyExistPopup",
                        })
    </div>
    <div>
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                        new PopupModel()
                        {
                            Title = @MediaManager_Resources.TitleInvalidFileName,
                            ModalPopUpId = "MediaInvalidFileName",
                        })
    </div>
    @Html.HiddenFor(m => m.GridModel.FrontObjectName, new { id = "hdnFrontObjectName" })
    @Html.HiddenFor(m => m.FolderId, new { @id = "hdnMediaFolderId" })
    @Html.Hidden("IsRootFolder")
</div>
<div id="fileuploadstatus" class="file-upload-status dirtyignore"  style="display:none;" data-test-selector="divFileUploadStatus">
    <div class="header">
        <h4>Uploading Status</h4>
        <div class="pull-right">
            <a href="#" onclick="MediaManagerTools.prototype.HideStatusGrid();" class="close"><i class="z-close-circle"></i></a>
        </div>
    </div>
    <div class="status-container">
        <table class="table">
            <thead>
                <tr>
                    <th>@Admin_Resources.LabelFileName</th>
                    <th>@Admin_Resources.LabelSize</th>
                    <th>@Admin_Resources.LabelStatus</th>
                    <th>@Admin_Resources.TextCancel</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


