﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{

    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string pageno = Request.QueryString["pagenumber"]?.ToString();
    if (pageno == null)
    {
        pageno = "1";
    }
    string productCount = "";
    string searchResult = "";
    if (searchTerm != null)
    {
        string s = Model.SearchResultCountText.ToString();
        productCount = s.Split(new string[] { "for" }, StringSplitOptions.None)[0];
        searchResult = "We found " + s + " in SEARCH";
    }
    else
    {
        productCount = Model.SearchResultCountText.ToString();
    }
}
<div class="col-xs-12 nopadding inner-container Setbordernone">
    <div id="layout-paging">
        <div class="search-paging col-xs-12 col-sm-9 nopadding text-right">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-5 nopadding search-pagination">                
                <ul>
                    <li class="search-more-nav arrow-left"><a id="prev-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button prev-page-search" title="Previous"><i class='zf-arrow-left-big'></i></a></li>
                    <li class="search-more-nav AWCT_paging"><span>  @pageno </span> </li>
                    <li class="search-more-nav arrow-right"><a id="next-page-search" href="javascript: void(0)" data-pageno="@Request.QueryString["pagenumber"]" class="button next-page-search" title="Next"><i class='zf-arrow-right-big'></i></a></li>
                    <li class="AWCT_paging_outof">of @Model.TotalPages</li>
                </ul>

                @Html.HiddenFor(model => model.TotalPages, new { id = "hdnTotalPages" })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding ">
                @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
            </div>
        </div>
    </div>
    <div id="layout-search">
        <div class="search-sorting col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right nopadding pull-right">
            <div>
                @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
            </div>
        </div>
    </div>
</div>
    <script>

        function pageByNumber(obj) {
            var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
            if (pageno == null) {
                pageno = "1";
            }
            if (totalPages == 1) {
                $('.next-page-search').addClass('disabled');
                return false;
            }
            if (parseInt(pageno) == (totalPages)) {
                $('.next-page-search').addClass('disabled');
                return false;
            }

            var datapageno = obj.data("pageno");
            ZSearch.prototype.SetPager(obj, 1);
        }

        $(".next-page-search").on("click", function () {
            var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
            if (pageno == null) {
                pageno = "1";
            }
            if (totalPages == 1) {
                $('.next-page-search').addClass('disabled');
                return false;
            }
            if (parseInt(pageno) == (totalPages)) {
                $('.next-page-search').addClass('disabled');
                return false;
            }
            ZSearch.prototype.SetPager(this, 1);
        });

        $(".prev-page-search").on("click", function () {
            var pageno = ZSearch.prototype.GetQueryStringParameterByName("pagenumber");
            if (pageno == null) {
                pageno = "1";
            }
            if (totalPages == 1) {
                $('.prev-page-search').addClass('disabled');
                return false;
            }
            if (parseInt(pageno) == 1) {
                $('.prev-page-search').addClass('disabled');
                return false;
            }
            ZSearch.prototype.SetPager(this, 0);
        });
    </script>

@* @{ int TotalPages = 1;
        try { TotalPages = Convert.ToInt32(@Model.TotalPages); } catch { }
        int i = 1;
        string activeClass = "";
    }
    @for (i = 1; i <= 4; i++)
    {
        activeClass = "";
        if (Convert.ToInt32(pageno) == i)
        {
            activeClass = "active";
        }
        int currentpage = i - 1;
        <a href="javascript: void(0)" data-pageno="@currentpage" class="button @activeClass" title="@i" onclick="pageByNumber($(this));">@i</a>
      }*@