﻿@using Znode.Engine.WebStore.ViewModels;
@model  SearchRequestViewModel
@{
    //Check if category ID is present or not
    if (Model.CategoryId <= 0)
    {
        ViewBag.Title = "Search";
    }

    //Layout = "~/Views/Themes/Default/Views/Shared/_Layout.cshtml";

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    string awctDefaultPageSize = Convert.ToString(Request.QueryString[WebStoreConstants.PageSize]);
    awctDefaultPageSize = (!string.IsNullOrEmpty(awctDefaultPageSize)) ? awctDefaultPageSize : "40";
    searchProperties.Add(WebStoreConstants.PageSize, awctDefaultPageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
  //  searchProperties.Add("SearchTerm", Model.Values.FirstOrDefault());
    searchProperties.Add(WebStoreConstants.UseSuggestion, Request.QueryString[WebStoreConstants.UseSuggestion]);
}
@*  <div id="layout-category" data-category="@Model.Values.FirstOrDefault()" data-categoryId="@Model.Keys.FirstOrDefault()" class="main-wrapper">*@
<div id="layout-category" data-category="@Model.SearchTerm" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 nopadding">
            <aside class="col-xs-12 col-sm-3 col-lg-2 col-md-2 side-bar mobile-no-padding">
                @* <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>*@
                @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 col-lg-10 col-md-10 category-landing-container search-page">
                <div data-test-selector="divSearchResult">
                    @* <z-widget data-test-selector="divSearchResult">@Html.WidgetPartial("ProductGrid", "ProductList", "124", "Search", Model.Keys.FirstOrDefault(), searchProperties)</z-widget>*@
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                </div>
            </div>
        </div>
    </div>
</div>

