@using Znode.Engine.WebStore.Agents
@using ZNode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<style>
    /*--Default CSS--*/
    .default-template{min-height:600px;background:#f8f3f3;}     
    .background-color-red{background-color: #cc0000;}
    .background-color-white{background-color: #fff;}
    .margin-bottom {margin-bottom:15px;}
    .template-title{padding:30px 20px 80px;text-align:center;color:#fff;font-weight:600;}
    .category-links{padding:10px;}
    .category-links .link-panel-widget {text-align:center;width:100%;}
    .category-links .link-panel-widget li img{width:150px;height:auto;max-height:150px;padding:6px;display:inline-block;}
</style>
<div class="container-fluid">
    <div class="row default-template">
        <div class="container-fluid">
            <div class="row background-color-red">
                <!--Template Title-->
                <div class="col-sm-12 template-title border-bottom nopadding">                    
                    <z-widget>@Html.WidgetPartial("TemplateTextEditor", "TemplateTitle", "976670", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>                    
                </div>
            </div>            
            <!--Banner-->
            <div class="container">
                  <div class="col-sm-12 nopadding" style="margin-top:-55px;">
                      <z-widget>@Html.WidgetPartial("BannerSlider", "Slider", "976671", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                  </div>
            </div>
        </div>
        <div class="container">
            <!--Category Links-->                        
            <div class="row">
                <div class="col-sm-12 nopadding background-color-white margin-top-bottom category-links">
                    <z-widget>@Html.WidgetPartial("TemplateTextEditor", "CategoryTitle", "976673", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "CategoryLinks", "976672", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>                    
                </div>
            </div>                                 
        </div>
        <div class="container">
            <!--Brand Links-->
            <div class="row">
                <div class="col-sm-12 nopadding background-color-white margin-top-bottom category-links">
                    <z-widget>@Html.WidgetPartial("TemplateTextEditor", "BrandTitle", "976674", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                    <z-widget>@Html.WidgetPartial("LinkPanel", "BrandLinks", "976675", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                </div>
            </div>
        </div>
        <div class="container">
            <!--Product List-->
            <div class="row">
                <div class="col-sm-12 nopadding background-color-white margin-top-bottom category-links">
                    <z-widget>@Html.WidgetPartial("TemplateTextEditor", "ProductTitle", "976676", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                    <z-widget>@Html.WidgetPartial("ProductList", "DealsProductList", "976677", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                </div>
            </div>
        </div>

    </div>
</div>