﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@{
    Model.Attributes = Model.Attributes.OrderBy(x => x.DisplayOrder).ToList();
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }

    var productsVariants = Model.Attributes.Where(x => x.IsConfigurable).ToList();
    string productType = Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool imageIsComparable = (Model.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.IsComparable).GetValueOrDefault();
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    bool isPersonalisable = Model.Attributes.Where(x => x.IsPersonalizable == true).Select(x => x.IsPersonalizable).FirstOrDefault();
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
}

<div class="col-12 product-item">
    <a href="" class="remove-compare" onclick="Category.prototype.RemoveProduct('@Model.PublishProductId')" title="@WebStore_Resources.LinkTextRemove" data-productid="@Model.PublishProductId"><span class="close-circle-icon"></span></a>

    @if (IsCallForPricing)
    {
        <div class="price mb-3 error-msg text-center"><strong>@callForPricingMessage</strong></div>
    }
    else if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct))
    {
        <button type="button" class="btn btn-primary btn-block mb-3" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
    }
    else if (isPersonalisable)
    {
        <button type="button" class="btn btn-primary btn-block mb-3" onclick="javascript: location.href = '@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())'" id="Model.PublishProductId"><i class='zf-view-details'></i>@WebStore_Resources.ButtonViewDetails</button>
    }
    else if (!Model.ShowAddToCart)
    {
        <div class="status-outofstock mb-3 error-msg text-center"><strong>@Model.InventoryMessage</strong></div>
    }
    else
    {
        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "btn btn-primary btn-block mb-3", "Product.prototype.GetProductOutOfStockDetails(this, event)", disable)
    }

    @if (imageIsComparable)
    {
        <div class="col-12 p-0 text-center mb-3">
            <img src="@Model.ImageThumbNailPath" alt="@Attributes.Value(Model.Attributes, "ImageAltText")" class="img-fluid" />
        </div>
    }
    <div class="form-group">
        <div class="col-12 p-0">
            @Html.Label(WebStore_Resources.LabelProductName)
        </div>
        <div class="col-12 p-0">
            @if (string.IsNullOrEmpty(Model.Name))
            {
                @Html.Label("-")
            }
            else
            {
                @WebUtility.HtmlDecode(Model.Name)
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-12 p-0">
            @Html.Label(WebStore_Resources.ColumnTitlePrice)
        </div>
        @if (Request.IsAuthenticated)
        {
            if (!IsCallForPricing)
            {
                <div class="col-12 p-0">
                    @if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                    {
                        <p>@Model.GroupProductPriceMessage</p>
                    }
                    else
                    {
                        if (!Equals(Model.SalesPrice, null))
                        {
                            <span>
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, UOM)
                            </span>
                            if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                            {
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                        }
                        else
                        {
                            if (Model.PromotionalPrice > 0)
                            {
                                <label>
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                                </label>
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                </span>
                            }
                        }
                    }
                </div>
            }
        }
        else
        {
            <div class="loged-out-product-text">
                <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">Sign in</a>
                to view price.
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-12 p-0">
            @Html.Label(WebStore_Resources.TextCustomerReviews)
        </div>
        <div class="col-12 p-0 product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @ratingText<a href="@Url.GetProductUrl(Model.SEOUrl, Model.PublishProductId.ToString())#product-content" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-12 p-0">
            @Html.Label(WebStore_Resources.LabelVariants)
        </div>
        <div class="col-12 p-0 product-rating">
        @if (Equals(productType, ZnodeConstant.ConfigurableProduct))
        {
            if (productsVariants?.Count > 0)
            {
                <ul class="product-variants">
                    @foreach (var item in productsVariants)
                    {
                        if (item?.ConfigurableAttribute?.Count > 0)
                        {
                            <li>
                                <span><b>@item.AttributeName</b>:&nbsp;</span>
                                <span>@string.Join(", ", item.ConfigurableAttribute.Select(x => x.AttributeValue))</span>
                            </li>
                        }
                    }
                </ul>
            }
        }
        </div>
    </div>
    @{
        Model.Attributes.RemoveAll(x => x.IsComparable == false || x.AttributeTypeName == ZnodeConstant.Link || x.AttributeCode == ZnodeConstant.ProductImage || (string.IsNullOrEmpty(x.AttributeValues)) && x.SelectValues?.Count == 0);
    }
    <div class="col-12 p-0">
        @foreach (var attribute in Model.Attributes)
        {
            if (!string.Equals(attribute.AttributeName, "Product Name", StringComparison.InvariantCultureIgnoreCase))
            {
                <div class="form-group">
                    <div class="col-12 p-0">
                        @Html.Label(attribute.AttributeName)
                    </div>
                    @if (attribute.AttributeTypeName == "Yes/No")
                    {
                        if (attribute.AttributeValues == "true")
                        {
                            <div class="col-12 p-0">
                                <span class='active-icon'></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 p-0">
                                <span class='inactive-icon'></span>
                            </div>
                        }
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(attribute.SelectValues.FirstOrDefault()?.Value))
                        {
                            <div class="col-12 p-0">
                                <p>@Html.RenderBlock(attribute.SelectValues.FirstOrDefault()?.Value)</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 p-0">
                                <p>@Html.RenderBlock(attribute.AttributeValues)</p>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>
