﻿@import "../_base.scss";

// loader
.loader-body{top:42% !important;}
.loader,.loader:before,.loader:after{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:load7 1.8s infinite ease-in-out;animation:load7 1.8s infinite ease-in-out}
.loader{color:$base-color-primary;font-size:10px;margin:20px auto 40px auto;position:fixed !important;left:0;right:0;text-indent:-9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s}
.loader:before,.loader:after{content:'';position:absolute;top:0}
.loader:before{left:-3.5em;-webkit-animation-delay:-.32s;animation-delay:-.32s}
.loader:after{left:3.5em}
@-webkit-keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}
@keyframes load7 {
0%,80%,100%{box-shadow:0 2.5em 0 -1.3em}
40%{box-shadow:0 2.5em 0 0}
}