﻿@using Znode.Libraries.ECommerce.Utilities
@model Znode.Engine.WebStore.ViewModels.CartViewModel
@{

    string shippingOptionId = ViewData["ShippingOptionId"]?.ToString();
    string shippingAddressId = ViewData["ShippingAddressId"]?.ToString();
    string shippingCode = ViewData["ShippingCode"]?.ToString();
    string paymentSettingId = ViewData["PaymentSettingId"]?.ToString();
    string paymentApplicationSettingId = ViewData["PaymentApplicationSettingId"]?.ToString();
    string clientId=  ViewData["ClientId"]?.ToString();
    string sellerId= ViewData["SellerId"]?.ToString();
}


<title>Address</title>
<style>
    #AmazonAddressWidget {
        width: 400px;
        height: 228px;
    }
    #AmazonWalletWidget, #AmazonConsentWidget {
        width: 400px;
        height: 228px;
    }
    .title span{
        background:#c00;
        padding:7px 15px;
        margin-right:8px;
        font-size:16px;
        color:#fff;
    }
    h3{
        background:#d5d5d5;
        padding:9px 0;
        font-size:16px;
        color:#343434;
    }
    .address-book{
        padding-right:10px;
        margin:10px 0;
    }
    .center-button{
        text-align:left;
        padding:40px 0;
    }
    .order-btn{
        width:100%;
        max-width:250px;
    }
</style>
<script type="text/javascript">
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("@clientId");
    };
</script>

<script  src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"> 
</script>
<script type='text/javascript'>
           
            new OffAmazonPayments.Widgets.AddressBook({
                sellerId: "@sellerId",
                displayMode: 'Edit',
                design: {
                    designMode: 'responsive'
                },
                onOrderReferenceCreate: function (orderReference) {
                    // Here is where you can grab the Order Reference ID.
                    $("#hdnOrderReferenceId").val(orderReference.getAmazonOrderReferenceId());
                },
                onBillingAgreementCreate: function (billingAgreement) {
                    $("#hdnBillingAggriment").val(billingAgreement.getAmazonBillingAgreementId());
                },
                onAddressSelect: function (billingAgreement) {
                    $("#hdnShippingOptionId").val('@shippingOptionId');
                    $("#hdnShippingAddressId").val('@shippingAddressId');
                    $("#hdnShippingCode").val('@shippingCode');
                    Checkout.prototype.CalculateAmazonShipping('', $("#hdnOrderReferenceId").val());
                },
                onError: function (error) {
                    alert(error.getErrorCode() + ":error " + error.getErrorMessage());
                }
            }).bind("AmazonAddressWidget");



</script>
<script type='text/javascript'>
          
            new OffAmazonPayments.Widgets.Wallet({
                sellerId: "@sellerId",
                amazonOrderReferenceId: $("#hdnOrderReferenceId").val(),
                displayMode: 'Edit',
                design: {
                    designMode: 'responsive'
                },
                onPaymentSelect: function (billingAgreement) {
                    // this method is triggered when the payment instrument is selected.
                    $("#btnContineu").show();
                },
                onError: function (error) {
                    alert(error.getErrorCode() + ": " + error.getErrorMessage());
                }
            }).bind("AmazonWalletWidget");


</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 col-md-4 nopadding address-book">
                <h3 class="title"><span>1</span>@WebStore_Resources.TitleShippingAddress</h3>
                <div id="AmazonAddressWidget" style="max-width:380px;"></div>
                <div id="WalletLink" style="display:none"></div>
                <input type="hidden" id="hdnOrderReferenceId" />
                <input type="hidden" id="hdnBillingAggriment" />
                <input type="hidden" id="hdnShippingOptionId" value="@shippingOptionId" />
                <input type="hidden" id="hdnShippingAddressId" value="@shippingAddressId" />
                <input type="hidden" id="hdnShippingCode" value="@shippingCode" />
                <input type="hidden" id="hdnPaymentSettingId" value="@paymentSettingId" />
            </div>
            <div class="col-xs-12 col-md-4 nopadding address-book shipping-method">
                <h3 class="title"><span>2</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                <div id="loaderId" style="max-width:380px;"> </div>
            </div>
            <div class="col-xs-12 col-md-4 nopadding address-book">
                <h3 class="title"><span>3</span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
                <div id="AmazonWalletWidget" style="max-width:380px;"></div>
            </div>
            
        </div>
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                @{Html.RenderAction("CartReview", "Checkout");}

            </div>
        </div>
        <div class="col-xs-12 margin-bottom">
            <div class="center-button">
                <button type="button" onclick="Checkout.prototype.AmazonPayProcess('@Model.Total','@paymentSettingId','@paymentApplicationSettingId')" id="btnContineu"  class="btn-text-icon red pull-right"><i class="zf-checkout"></i> @WebStore_Resources.TextCompletePurchase</button>
            </div>
        </div>
    </div>
</div>
 <!-- Modal -->
<div class="modal fade" id="PaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p>@WebStore_Resources.TextPaymentMethod</p>
            </div>
        </div>
    </div>
</div>
<!--Error Payment Modal-->
<div class="modal fade" id="ErrorPaymentModal" role="dialog">
    <div class="modal-dialog compare-product-popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                <h4 class="modal-title">@WebStore_Resources.LabelPaymentApplication</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <div class="col-xs-12 margin-top-bottom nopadding">
                    <div class="pull-right">
                        <button type="button" class="btn-text btn-bg-primary btn" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>
<script type="text/javascript">
    $(document).ready(function () {
        Checkout.prototype.AmazonShippingOptions();
    });
</script>
