﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li>
    <article class="mb-4">
        <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails.SEOUrl, null, Model.CategoryId)">
            <img id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-fluid" data-src="@Model.ImageSmallPath" />
            <label>@WebUtility.HtmlDecode(Model.CategoryName)</label>
        </a>
    </article>
</li>
