﻿@using Znode.Engine.WebStore.ViewModels
@model AddressViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string _addressType = ViewBag.AddressType;
    string _shippingBillingDisplay = ((Convert.ToString(Request.QueryString["mode"]) == "guest" || Model.AddressId > 0) && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? "display:block" : "display:none";
    int addressCount = Model.AddressCount;
    string isEnableDisableCheckbox = (addressCount < 1) ? "checkbox-disable" : "";
}
<div class="col-12 edit-address-form b2b-form">
    <div class="row">
        <p id="AddressError" class="error-msg" />
        @Html.ValidationSummary(true)
        @if (Equals(ViewBag.HideDisplayName, null) || Equals(ViewBag.HideDisplayName, false))
        {
            @* The display name input should be toggled via a parameter per view as needed *@
            <div class="col-12 col-lg-6 form-group">
                <div class="form-title">
                    <label for="address_name" class="required">@WebStore_Resources.ColumnDisplayName</label>
                </div>
                <div class="col-12 p-0">
                    @Html.TextBoxFor(m => m.DisplayName, new { @id = "address_name" })
                    <p class="suggestion-msg">@WebStore_Resources.HintTextDisplayName</p>
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.DisplayName)</p>
                </div>
            </div>
        }
        else
        {
            @* Set default value for model validation *@
            <div class="col-12"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
        }
        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_firstname" class="required">@WebStore_Resources.ColumnFirstName</label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
            </div>
        </div>

        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_lastname" class="required">@WebStore_Resources.ColumnLastName</label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname" })
                <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_name">@WebStore_Resources.ColumnCompanyName</label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.CompanyName)
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CompanyName)</p>
            </div>
        </div>
        <div class="col-12 form-group">
            <div class="form-title">
                <label for="address_street1" class="required">@WebStore_Resources.ColumnStreetAddress</label>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    @Html.TextBoxFor(m => m.Address1, new { @id = "address_street1", @class = "form-input-long" })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Address1)</p>
                </div>
                <div class="col-12 col-lg-6">
                    @Html.TextBoxFor(m => m.Address2, new { @id = "address_street2", @class = "form-input-long" })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Address2)</p>
                </div>
            </div>
        </div>

        @*country dropdown list*@
        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_country" class="required">@WebStore_Resources.ColumnCountry</label>
            </div>
            <div class="col-12 p-0">
                @Html.DropDownListFor(m => m.CountryName, Model.Countries, new { @id = "ShippingAddressModel_CountryCode", @class = "address_country", @onchange = "User.prototype.BindStates()" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryName)</p>
            </div>
        </div>

        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_state">@WebStore_Resources.ColumnState</label>
            </div>
            <div class="col-12 p-0" id="stateCodeTextBox">
                <div id="dev-statecode-textbox">
                    @Html.TextBoxFor(m => m.StateName, new { @id = "txtStateCode", @class = "txtStateCode" })
                </div>
                <div style="display:none;" id="dev-statecode-select">
                    <select class="valid address_state" id="SelectStateName" name="StateName"></select>
                </div>
                <p class="error-msg">@Html.ValidationMessageFor(m => m.StateName, null, new { @id = "valtxtStateCode" })</p>
            </div>
        </div>

        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_city" class="required">@WebStore_Resources.ColumnCity</label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.CityName, new { @id = "address_city" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.CityName)</p>
            </div>
        </div>

        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_zipcode" class="required">
                    @WebStore_Resources.LabelPostalCode
                </label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_postalcode", @class = "form-input-short" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 form-group">
            <div class="form-title">
                <label for="address_phonenumber" class="required">
                    @WebStore_Resources.ColumnPhoneNo
                </label>
            </div>
            <div class="col-12 p-0">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @class = "form-input-short" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
            </div>
        </div>
        @if (!HttpContext.Current.User.Identity.IsAuthenticated && Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            //Guest shipping type
            <div class="col-12 col-lg-6 form-group">
                <div class="form-title">
                    <label for="address_email" class="required">
                        @WebStore_Resources.EmailAddress
                    </label>
                </div>
                <div class="col-12 p-0">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @id = "address_emailaddress", @class = "form-input-short" })
                    <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                </div>
            </div>
            <div class="col-12 isDefaultBillingContainer">
                <div class="styled-input">
                    <input class="input-checkbox" type="checkbox" id="is_both_billing_shipping" name="IsBothBillingShipping" value="true" @(((Model.IsShipping || Model.IsDefaultShipping) && (Model.IsBilling || Model.IsDefaultBilling)) ? "checked='checked'" : "") />
                    <label for="is_both_billing_shipping">@WebStore_Resources.CheckBoxTextBillingShippingSame</label>
                </div>
                @Html.HiddenFor(model => model.IsDefaultBilling)
                @Html.Hidden("IsBilling")
                @Html.Hidden("IsShipping", true)
                @Html.Hidden("IsAddUpdateAddress", true)
            </div>
        }

        @if (Equals(controllerName, "User"))
        {
            //User controller
            Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
            Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;
            <div class="col-12">
                <div class="styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                    <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                    <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                </div>
            </div>
            <div class="col-12">
                <div class="styled-input input-checkbox_label @isEnableDisableCheckbox billingShippingCheckBox">
                    <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                    <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                </div>
            </div>


            <div class="col-12" style="display:none !important">
                <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                    <input type="checkbox" class="input-checkbox" name="IsAddUpdateAddress" id="is_addupdate_address" checked="checked" value="true" text="Add/update my address book">
                    <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                </div>
            </div>
        }
        else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.ShippingAddressType))
        {
            //Guest_or_Login : Edit mode shipping address
            if (!Model.IsAddUpdateAddress)
            {
                //If it's One time address
                @Html.Hidden("IsBilling")
                @Html.Hidden("IsShipping", true)
                @Html.HiddenFor(model => model.IsDefaultBilling)
                @Html.HiddenFor(model => model.IsDefaultShipping)
            }
            else
            {
                <div class="col-12 col-lg-6 form-group input-checkbox_container set-as-default-address-IsDefaultShipping">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                        <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                        @Html.Hidden("IsBilling")
                        @Html.Hidden("IsShipping", true)
                        @Html.HiddenFor(model => model.IsDefaultBilling)
                    </div>
                </div>
            }
            <div class="col-12 input-checkbox_container">
                <div class="styled-input input-checkbox-IsBothBillingShipping">
                    <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                    <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                </div>
            </div>
        }
        else if (Model.AddressId > 0 && Equals(_addressType, WebStoreConstants.BillingAddressType))
        {
            //Guest_or_Login : Edit mode billing address
            if (!Model.IsAddUpdateAddress)
            {
                //If it's One time address
                @Html.Hidden("IsBilling", true)
                @Html.Hidden("IsShipping")
                @Html.HiddenFor(model => model.IsDefaultShipping)
                @Html.HiddenFor(model => model.IsDefaultBilling)
            }
            else
            {
                <div class="col-12 col-lg-6 form-group input-checkbox_container set-as-default-address-IsDefaultBilling">
                    <div class="col-xs-12 nopadding styled-input input-checkbox_label">
                        <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                        <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                        @Html.Hidden("IsBilling", true)
                        @Html.Hidden("IsShipping")
                        @Html.HiddenFor(model => model.IsDefaultShipping)
                    </div>
                </div>
            }
            <div class="col-12">
                <div class="styled-input input-checkbox-IsBothBillingShipping">
                    <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                    <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                </div>
            </div>
        }
        else if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            //Logged in user
            Model.IsDefaultBilling = (addressCount < 1 && Equals(_addressType, WebStoreConstants.BillingAddressType)) ? true : Model.IsDefaultBilling;
            if (Equals(_addressType, WebStoreConstants.ShippingAddressType))
            {
                //Shipping
                Model.IsDefaultShipping = (addressCount < 1 && Equals(_addressType, WebStoreConstants.ShippingAddressType)) ? true : Model.IsDefaultShipping;
                <div class="form-group">
                    <div class="input-checkbox_container set-as-default-address-IsDefaultShipping">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                            <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                            <label for="asdefault_shipping">@(Equals(_addressType, WebStoreConstants.ShippingAddressType) ? WebStore_Resources.CheckBoxTextDefaultAddress : WebStore_Resources.CheckBoxTextShippingAddress)</label>
                        </div>
                    </div>
                    @Html.Hidden("IsBilling")
                    @Html.Hidden("IsShipping", true)
                    @Html.HiddenFor(model => model.IsDefaultBilling)
                </div>


                <div class="form-group input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                        <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.BillingAddressType.ToProperCase())</label>
                    </div>
                </div>
            }
            else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
            {
                //Billing
                <div class="form-group">
                    <div class="input-checkbox_container set-as-default-address-IsDefaultBilling">
                        <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                            <input class="input-checkbox billingShippingCheckBox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                            <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextDefaultAddress</label>
                        </div>
                    </div>
                    @Html.Hidden("IsBilling", true)
                    @Html.Hidden("IsShipping")
                    @Html.HiddenFor(model => model.IsDefaultShipping)
                </div>


                <div class="form-group input-checkbox_container">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                        <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                        <label for="is_both_billing_shipping">@string.Format(WebStore_Resources.CheckBoxTextUseSameAsAddress, WebStoreConstants.ShippingAddressType.ToProperCase())</label>
                    </div>
                </div>
            }
            else
            {
            //Neither shipping nor billing
            Model.IsDefaultShipping = (addressCount < 1) ? true : Model.IsDefaultShipping;
            Model.IsDefaultBilling = (addressCount < 1) ? true : Model.IsDefaultBilling;

            <div class="form-group input-checkbox_container">
                <div class="col-xs-12 nopadding styled-input input-checkbox_label @isEnableDisableCheckbox">
                    <input class="input-checkbox" @(Model.IsDefaultShipping ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultShipping" id="asdefault_shipping" data-val="true">
                    <label for="asdefault_shipping">@WebStore_Resources.CheckBoxTextShippingAddress</label>
                </div>
            </div>
            <div class="form-group input-checkbox_container">
                <div class="col-xs-12 nopadding styled-input @isEnableDisableCheckbox">
                    <input class="input-checkbox" @(Model.IsDefaultBilling ? "checked='checked'" : "") type="checkbox" value="true" name="IsDefaultBilling" id="asdefault_billing" data-val="true">
                    <label for="asdefault_billing">@WebStore_Resources.CheckBoxTextBillingAddress</label>
                </div>
            </div>
            <div class="form-group input-checkbox_container">
                <div class="col-xs-12 nopadding styled-input input-checkbox-IsBothBillingShipping">
                    <input type="checkbox" class="input-checkbox billingShippingCheckBox" name="IsBothBillingShipping" id="is_both_billing_shipping" @((Model.IsShipping && (Model.IsBilling)) ? "checked='checked'" : "") value="true" text="Both Billing and Shipping address">
                    <label for="is_both_billing_shipping">@WebStore_Resources.CheckBoxTextBillingShippingSame</label>
                </div>
            </div>
            @Html.Hidden("IsBilling")
            @Html.Hidden("IsShipping")
        }
    }
    else if (Equals(_addressType, WebStoreConstants.BillingAddressType))
    {
        @Html.Hidden("IsAddUpdateAddress", true)
    }

        @if (HttpContext.Current.User.Identity.IsAuthenticated && Model.AddressId.Equals(0) && Equals(controllerName, "Checkout"))
        {
            //Checkout controller
            <div class="form-group input-checkbox_container">
                <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                    <input type="checkbox" class="input-checkbox" name="IsAddUpdateAddress" id="is_addupdate_address" checked="checked" value="true" text="Add/update my address book">
                    <label for="is_addupdate_address">@WebStore_Resources.CheckBoxTextAddToAddressBook</label>
                </div>
            </div>
        }
        <div class="col-12 text-right py-3 quotebutton">
            <button type="submit" class="btn btn-primary" id="btnSaveAddress" onclick="return User.prototype.RecommendedAddress();">@WebStore_Resources.ButtonSaveChanges</button>
            @if (Equals(controllerName, "Checkout"))
            {
                @Html.HiddenFor(model => model.IsDefaultShipping)
                @Html.HiddenFor(model => model.IsDefaultBilling)
                @Html.HiddenFor(model => model.OtherAddressId)
                <button type="button" class="btn btn-secondary ml-md-3 mt-3" id="btnCancelAddress" onclick="javascript: location.reload();" data-dismiss="modal">@Admin_Resources.ButtonCancel</button>
            }
            else
            {
                <a href="/User/AddressBook" class="d-block d-md-inline-block btn btn-secondary ml-md-3 mt-3" id="btnCancelAddress">@WebStore_Resources.ButtonCancel</a>
            }
        </div>
    </div>
    </div>


    @Html.HiddenFor(ob => ob.StateCode, new { @id = "hdn_StateCode" })
    @Html.HiddenFor(ob => ob.ExternalId)
    @Html.HiddenFor(ob => ob.CountryName, new { @Value = "US" })
    @Html.HiddenFor(ob => ob.RoleName)

    @if (Model.AddressId > 0)
    {
        @Html.HiddenFor(m => m.AddressId)
        @Html.Hidden("addressType", _addressType);
    }
    @if (Model.AccountId > 0)
    {
        @Html.HiddenFor(m => m.AccountId)
        @Html.HiddenFor(m => m.AccountAddressId)
    }
    <script>
        $(document).ready(function () {
            Checkout.prototype.DisableFields();
            User.prototype.BindStates();
        })
    </script>
