﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
@{
    var currencyCode = string.IsNullOrEmpty(Model.CurrencyCode) ? DefaultSettingHelper.DefaultCurrency : Model.CurrencyCode;
}

<div class="form-group">
    <div class="row no-gutters">
        <div class="col-6">
            <p>@WebStore_Resources.LabelSubTotal</p>
        </div>
        <div class="col-6 pr-3 pr-md-5">
            @Helper.FormatPriceWithCurrency(Model.SubTotal, currencyCode)
        </div>
    </div>
</div>
@if (Model.Discount > 0)
{
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6">
                <p>@WebStore_Resources.ColumnDiscounts</p>
            </div>
            <div class="col-6 pr-3 pr-md-5">
                <div id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - Model.Discount, currencyCode)</div>
            </div>
        </div>
    </div>
}
@if (Model.TaxCost > 0)
{
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6">
                <p>@WebStore_Resources.ColumnTax</p>
            </div>
            <div class="col-6 pr-3 pr-md-5">
                @Helper.FormatPriceWithCurrency(Model.TaxCost, currencyCode)
            </div>
        </div>
    </div>
}
@if (Model.ShippingCost > 0)
{
    <div class="form-group">
        @{ string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})"; }

        <div class="row no-gutters">
            <div class="col-6">
                <p>@WebStore_Resources.LabelShippingCost @shipName</p>
            </div>
            <div class="col-6 pr-3 pr-md-5">
                <div id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, currencyCode)</div>
            </div>
        </div>
    </div>
            }
@if (Model.GiftCardApplied)
{
    <div class="form-group">
        <div class="row no-gutters">
            <div class="col-6">
                <p>@WebStore_Resources.ColumnGiftCardAmount</p>
            </div>
            <div class="col-6 pr-3 pr-md-5">
                <div id="dynamic-giftcard-amount" class="left-sm-shift">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, currencyCode)</div>
            </div>
        </div>
    </div>
}
<div class="form-group total">
    <div class="row no-gutters">
        <div class="col-6">
            <h2>@WebStore_Resources.ColumnOrderTotal</h2>
        </div>
        <div class="col-6 pr-3 pr-md-5">
            <div id="dynamic-order-total"><h2>@Helper.FormatPriceWithCurrency(Model.Total, currencyCode)</h2></div>
            @Html.Hidden("hdnTotalOrderAmount", Model.Total)
        </div>
    </div>
</div>
<input type="hidden" id="Total" value="@Model.Total" />
@Html.HiddenFor(m => m.Total)
@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)