﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
}
<div class="col-xs-12 nopadding image-view">
    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
    {
        <img src="@_fileLocation/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }
    <div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails">
        <a href="@Model.ImageLargePath" class="easyzoom-img">
            <img src="@Model.ImageMediumPath" width="400" height="400" />
        </a>
    </div>
    <div class="col-xs-12 nopadding product-altimages">
        @if (isLiteVersion)
        {
            @Ajax.Partial("AlternateImages", "AlternateProductImagesZoomEffect", "Product", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
        }
        else
        {
            <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
                @if (Model.AlternateImages.Count > 0)
                {
                    <div class="item">
                        <a href="@Model.ImageLargePath" data-standard="@Model.ImageLargePath">
                            <img src="@Model.ImageMediumPath" />
                        </a>
                    </div>foreach (var image in Model.AlternateImages)
                    {
                        <div class="item">
                            <a href="@image.OriginalImagePath" data-standard="@image.OriginalImagePath">
                                <img src="@image.ImageThumbNailPath" alt="" />
                            </a>
                        </div>
                    }
                }

            </div>
            <script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
            <script>
				$(function () {
					// Instantiate EasyZoom instances
					var $easyzoom = $('.easyzoom').easyZoom();
					// Setup thumbnails example
					var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

					$('.item').on('click', 'a', function (e) {
						var $this = $(this);
						e.preventDefault();
						// Use EasyZoom's `swap` method
						api1.swap($this.data('standard'), $this.attr('href'));
					});
					$(".Product_Altimages").owlCarousel({
						autoPlay: false,
						navigation: true,
						items: 4,
						itemsCustom: [
							[0, 1],
							[320, 4],
							[480, 4],
							[600, 4],
							[768, 6],
							[992, 5],
							[1200, 6]
						],
						navigationText: [
							"<i class='zf-arrow-left-big'></i>",
							"<i class='zf-arrow-right-big'></i>"
						]
					});
				});
            </script>}
    </div>
</div>