﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@{

}

<!--Main Container-->
<div class="col main-wrapper">
    <div class="row">
        <div class="container">
            <div class="row register-container mb-5">
                @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { role = "form", @class = "col-12" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-12 p-0">
                        <h1 class="page-title">@WebStore_Resources.ButtonResetPassword</h1>
                    </div>
                    <div class="col-12 col-md-6 p-0">
                        @if (string.IsNullOrEmpty(Model.PasswordToken))
                        {
                            <div class="form-group">
                                <div class="col-12 p-0">
                                    <label class="control-label required">@WebStore_Resources.LabelOldPassword</label>
                                </div>
                                <div class="col-12 p-0">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <label class="control-label required">@WebStore_Resources.LabelNewPassword</label>
                            </div>
                            <div class="col-12 p-0">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <label class="control-label required">@WebStore_Resources.LabelReTypeNewPassword</label>
                            </div>
                            <div class="col-12 p-0">
                                @Html.PasswordFor(m => m.ReTypeNewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12 p-0 text-right quotebutton">
                                <button type="submit" class="btn btn-primary" value="@WebStore_Resources.ResetPasswordButtonText">@WebStore_Resources.ResetPasswordButtonText</button>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.PasswordToken)
                        @Html.HiddenFor(x => x.UserName)
                    </div>
                }
            </div>
        </div>
    </div>
</div>