﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@using Znode.Libraries.ECommerce.Utilities
@model TemplateListViewModel

<div id=@Model.GridModel.FrontObjectName class="col">
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12">
                    <h1 class="page-title">@WebStore_Resources.LinkTextOrderTemplate</h1>
                </div>
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-md-3 p-0 d-none d-md-block">
                            <div class="col-12 account-menu">
                                <nav class="account-container-menu">
                                    @Html.Partial("_AccountMenu")
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">
                                        <h3 class="b2b-section-header">@WebStore_Resources.LinkTextOrderTemplate</h3>

                                        @if (string.Equals(Model.RoleName, ZnodeRoleEnum.Administrator.ToString(), StringComparison.InvariantCultureIgnoreCase))
                                        {
                                            <div class="sub p-4">@WebStore_Resources.LinkTextTemplateDescription</div>
                                            <div class="col-12 text-right mb-3">
                                                @Html.ActionLink("Add Template", "CreateTemplate", "User", new { @class = "btn btn-primary d-block d-md-inline-block" })
                                            </div>
                                        }
                                        <div class="col-12 filter-component border-bottom">
                                            @using (Ajax.BeginForm("TemplateList", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                            {
                                                <div id="filterComponent">
                                                    @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                                </div>
                                            }
                                        </div>
                                        <div class="col-12 list-container p-0">
                                            <div class="col-12 p-0">
                                                @Html.Partial("_DynamicGrid", Model.GridModel)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

