﻿
@using Znode.Engine.WebStore.ViewModels
@model ShippingOptionListViewModel
@{
    var ErrorMessage = @Model.HasError ? @Model.ErrorMessage : @WebStore_Resources.ErrorAddAddressShippingOption;
}

<div class="col-12 p-0 h-100 b2b-block">
    <h3 class="block-title"><span id="shippingOptionSrNo" class="checkoutBoxSrNo">3</span>@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
    <div class="col-12 block-content pl-md-5">
        @using (Ajax.BeginForm("CartReview", "Checkout", new AjaxOptions() { UpdateTargetId = "cart-review-content", OnSuccess = "Checkout.prototype.ShippingErrorMessage();", OnBegin = "Checkout.prototype.ShowPaymentLoader();", OnComplete = "Checkout.prototype.HidePaymentLoader();", OnFailure = "Checkout.prototype.HidePaymentLoader();" }))
        {
            if (Model?.ShippingOptions?.Count > 0)
            {
                if (!Model.ShippingOptions.Any(x => x.IsSelected))
                {
                    Model.ShippingOptions.FirstOrDefault(x => x.IsSelected = Model.IsB2BUser && Model.OmsQuoteId > 0 ? true : false);
                }

                foreach (ShippingOptionViewModel option in Model.ShippingOptions)
                {
                    if (option.ShippingCode != "FreeShipping")
                    {
                        <div class="col-12 p-0 styled-input">
                            <input type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" onclick="Checkout.prototype.CalculateShipping('@option.ClassName');" @( option.IsSelected ? "checked=checked" : "") />
                            <label for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(option.Description) - (@WebUtility.HtmlDecode(option.EstimateDate)) - @WebUtility.HtmlDecode(option.FormattedShippingRate)</label>

                        </div>
                    }
                    else
                    {
                        <div class="col-12 p-0 styled-input" style="display:none;">
                            <input type="radio" id="@option.ShippingCode.Replace(" ", " _")" data-shippingCode="@option.Description" name="ShippingOptions" value="@option.ShippingId" @( option.IsSelected ? "checked=checked" : "") />
                            <label for="@option.ShippingCode.Replace(" ", " _")">@WebUtility.HtmlDecode(option.Description) - (@WebUtility.HtmlDecode(option.EstimateDate)) - @WebUtility.HtmlDecode(option.FormattedShippingRate)</label>
                            <input type="hidden" id="hdnIsFreeShipping" value="True" ShippingId="@option.ShippingId" name="@option.ShippingCode.Replace(" ", "_")" data-ShippingClassName="@option.ClassName" />
                        </div>
                    }
                }
                <div class="col-12 p-0" id="customerShippingDiv" style="display:none" name="CustomerShipping">
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <div class="control-label">
                                @Html.LabelFor(model => model.AccountNumber, new { @class = "required" })
                            </div>
                            <div class="control-md">
                                @Html.TextBoxFor(model => model.AccountNumber, new { @maxLength = "100" })
                                <div id="errorAccountNumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorAccountNumber</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 p-0">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ShippingMethod, new { @class = "required" })
                            </div>
                            <div class="control-md">
                                @Html.TextBoxFor(model => model.ShippingMethod, new { @maxLength = "100" })
                                <div id="errorShippingMethod" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorShippingMethod</div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hndShippingclassName" value="" />
            }
            else
            {
                <span>@ErrorMessage</span>
            }
            <div id="message-freeshipping" class="success-msg" style="display:none;"><span>@WebStore_Resources.FreeShippingMessage</span></div>
        }
    </div>
</div>

