﻿@model Znode.Engine.Admin.ViewModels.ProfileListViewModel
@using Znode.Engine.Admin.ViewModels
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgAssociateProfile">@Admin_Resources.TextAssociateProfile</h1>
            <div class="pull-right  btn-container">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('associateProfileList')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right padding-left">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Customer.prototype.AssociateProfiles()" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="selectOneProfile" style="display:none">
                    <div class="messageBoxContainer error-msg text-center" id="messageBoxContainerId">@Admin_Resources.TextSelectOneProfile</div>
            </div>
            @using (Ajax.BeginForm("GetUnAssociatedProfileList", "Customer", new { userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }            
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(x => x.UserId)
        </div>
    </div>
</div>