﻿@using Znode.WebStore.Custom.ViewModel;
@model AWCTBecomeAContributerViewModel
@{
    ViewBag.Title = @WebStore_Resources.LinkBecomeAContributer;
    Layout = "~/Views/Themes/AWCT/Views/Shared/_Layout.cshtml";
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12">              
                <!--Become A Contributer Form Code here-->
                <div class="col-xs-12 col-md-7 col-lg-8 nopadding margin-bottom">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">Become a Blog Contributor</h1>
                    </div>
                    <div class="col-xs-12 nopadding margin-bottom">

                        <div class="kgridsep kgrid2">
                            <div class="kgridbox kgridrpadmid kgridrpadwide">
                               @Html.RenderMessage("BlogContributerPassage")
							 </div>
						</div>

                    @using (Html.BeginForm("BecomeAContributer", "AWCTCustomizedForm", FormMethod.Post, new { @id = "frmbecomeAcontributer" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-xs-12 nopadding kmirrort">
                            <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName", @class = "floating-input", @placeholder = "First Name *" })
                                            <span id="valFirstNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelModelName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName", @class = "floating-input", @placeholder = "Last Name *" })
                                            <span id="valLastNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelContactName, new { @class = "required" })*@
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.SchooName, new { @maxlength = 100, @id = "valSchool", @class = "floating-input", @placeholder = "School Name" })
                                            <span id="valSchoolErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Address, new { @maxlength = 100, @id = "valAddress", @class = "floating-input", @placeholder = "Address *" })                                           
                                            <span id="valAddressErr" class="field-validation-error"></span>
                                         </div>
                                    </div>                                  
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.CityName, new { @maxlength = 100, @id = "valCity", @class = "floating-input", @placeholder = "City *" })
                                            <span id="valCityErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelZipCode)*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.StateProvince, new { @maxlength = 100, @id = "valStateProvince", @class = "floating-input", @placeholder = "State *" })
                                            <span id="valStateProvinceErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelStateProvince)*@
                                        </div>
                                    </div>                                 
                                </div>                               

                                <div class="col-xs-12 nopadding">   
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = 100, @id = "valZipCode", @class = "floating-input", @placeholder = "Zip Code *" })
                                            <span id="valZipCodeErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelZipCode)*@
                                        </div>
                                    </div>                               
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.CellPhone, new { @maxlength = 100, @id = "valCellPhone", @class = "floating-input", @placeholder = "Cell Phone *" })
                                            <span id="valCellPhoneErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelCellPhone)*@

                                        </div>
                                    </div>                                  
                                </div>

                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.AlternateNumber, new { @maxlength = 100, @id = "valAlternateno", @class = "floating-input", @placeholder = "Alternate Number" })
                                            <span id="valAlternateErr" class="field-validation-error"></span>
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 100, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address *" })
                                            <span id="valEmailAddressErr" class="field-validation-error"></span>
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Website, new { @maxlength = 100, @id = "valWebsite", @class = "floating-input", @placeholder = "Website" })
                                            <span id="valWebsiteErr" class="field-validation-error"></span>
                                            <p class="sub">@WebStore_Resources.ContactNameSubText</p>
                                        </div>
                                    </div>
                                </div>

                                    <!--Additional Information-->
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>What is your current dance affiliation? </label>
                                        </div>
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.BlogContributerAppl)
                                                <div class="col-lg-12 col-md-12 col-xs-12">
                                                    <div class="col-xs-12 nopadding styled-input ">
                                                        <input type="radio" id="Studio_Owner" name="BlogContributerAppl" value="Studio Owner" onclick="DanceAffiliation()">
                                                        <label for="Studio_Owner">Studio Owner</label>
                                                    </div>
                                                    <div class="col-xs-12 nopadding styled-input">
                                                        <input type="radio" id="Dance_Teacher" name="BlogContributerAppl" value="2" onclick="DanceAffiliation()">
                                                        <label for="Dance_Teacher">Dance Teacher</label>
                                                    </div>
                                                    <div class="col-xs-12 nopadding styled-input">
                                                        <input type="radio" id="Dance_Team_Coach" name="BlogContributerAppl" value="3" onclick="DanceAffiliation()">
                                                        <label for="Dance_Team_Coach">Dance Team Coach</label>
                                                    </div>
                                                    <div class="col-xs-12 nopadding styled-input">
                                                        <input type="radio" id="Professional_Dancer" name="BlogContributerAppl" value="4" onclick="DanceAffiliation()">
                                                        <label for="Professional_Dancer">Professional Dancer</label>
                                                    </div>
                                                 </div>
                                        </div>
                                    </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>@WebStore_Resources.lableDanceHistory </label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.DanceHistory, new { maxlength = 72, @rows = '2', @class = "form-control" })
                                    </div>                                     
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>@WebStore_Resources.lableUniquePrespective </label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model =>model.UniquePrespective, new { maxlength = 72, @rows = '2', @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>@WebStore_Resources.lableYourExpert </label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.YourExpert, new { maxlength = 72, @rows = '2', @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>@WebStore_Resources.LableBlogPost</label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.BlogPost, new { maxlength = 72, @rows = '2', @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label> @WebStore_Resources.LableFavoriteThing</label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.FavoriteThing, new { maxlength = 72, @rows = '2', @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label> @WebStore_Resources.LableActiveSocialMedia</label>
                                    </div>
                                    <div class="form-group">
                                       <input type="number" name="SocialMediaScale" id="SocialMediaScale" maxlength="10" max="10" min="1" value="1" onclick="SocialMediaScale()"/>
                                        
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>@WebStore_Resources.LableReleventSocial</label>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Relevant, new { maxlength = 72, @rows = '1', @class = "form-control" })
                                    </div>
                                </div>  
                                    <div class="col-xs-12 nopadding">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group floating-label">
                                                <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                                                <span id="ErrCaptcha" class="field-validation-error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!--End Contact Form div-->
                        <div class="form-group floating-label">
                            <div class="pull-left margin-top-bottom">
                                <button type="submit" class="btn-text btn-bg-primary" id="become-contributer" onclick="return CaseRequest.prototype.ValidationForBecomeAContributerForm();">@WebStore_Resources.ButtonSubmit</button>
                               <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var form = document.getElementById("frmbecomeAcontributer"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>
<script>
    $("#frmbecomeAcontributer").submit(function (event) {
        $("#become-contributer").prop("disabled", true).addClass("disabled");
    });

    $(function () {
        var rGrp = $("input[name=BlogContributerAppl]");
        rGrp.click(function () {
            var checkedRadio = rGrp.filter(":checked");
         
        });
    });

    function DanceAffiliation() {
        var rGrp = $("input[name='BlogContributerAppl']:checked").parent().find('label').text();
        $("#BlogContributerAppl").val(rGrp);
    }
   
    function SocialMediaScale() {
        var rGrp = $("input[name=SocialMediaScale]").val();
        $("#SocialMediaScale").val(rGrp);
    }
</script>
