﻿@using Znode.WebStore.Custom.ViewModel;
@model AWCTPreviewShowViewModel
@{
    ViewBag.Title = @WebStore_Resources.LinkCustomerApplication;
}
<div id="layout-Application" class="main-wrapper">

    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-5 col-lg-6">
                    @Html.RenderMessage("FooterPreviewShowContentPage")
                </div>

                <div class="col-xs-12 col-md-7 col-lg-6 margin-bottom nopadding">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">@WebStore_Resources.LblPreviewShow</h1>
                    </div>

                    @using (Html.BeginForm("PreviewShow", "AWCTCustomizedForm", FormMethod.Post, new { @id = "frmPreviewShow" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12 nopadding kmirrort">
                            <div class="col-xs-12 nopadding backbackgroundset Setbordernone">
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "FirstName", @class = "floating-input", @placeholder = "First Name *" })
                                            <span id="valFirstNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelFirstName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "LastName", @class = "floating-input", @placeholder = "Last Name *" })
                                            <span id="valLastNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.LabelLastName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.StudioName, new { @maxlength = 100, @id = "StudioName", @class = "floating-input", @placeholder = "Studio Name *" })
                                            <span id="valStudioNameErr" class="field-validation-error"></span>
                                            @*@Html.Label(WebStore_Resources.ColumnStudioName, new { @class = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.CustomerNumber, new { @maxlength = 200, @id = "valCustomerNumber", @class = "floating-input", @placeholder = "Customer Number" })
                                            <span id="valCustomerNumberErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.Address, new { @maxlength = 100, @id = "valAddress", @class = "floating-input", @placeholder = "Address *" })
                                            <span id="valAddressErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.City, new { @maxlength = 20, @id = "valCity", @class = "floating-input", @placeholder = "City *" })
                                            <span id="valCityErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.State, new { @maxlength = 20, @id = "valState", @class = "floating-input", @placeholder = "State *" })
                                            <span id="valStateErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.ZipCode, new { @maxlength = 20, @id = "valZipCode", @class = "floating-input", @placeholder = "Zip Code *" })
                                            <span id="valZipCodeErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNumber", @class = "floating-input", @placeholder = "Phone Number *" })
                                            <span id="valPhoneNumberErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 200, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address *" })
                                            <span id="valEmailAddressErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            @Html.TextBoxFor(model => model.NoOfTeacher, new { @maxlength = 100, @id = "valNoOfTeacher", @class = "floating-input", @placeholder = "Number of teachers planning to attend *" })
                                            <span id="valNoOfTeacherErr" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(WebStore_Resources.Timeyouplantoattend)
                                            <div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="9AM" name="EmailOptIn" value="true" type="radio">
                                                    <label for="9AM"> 9AM - 10AM</label>
                                                </div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="10AM" name="EmailOptIn" value="true" type="radio">
                                                    <label for="10AM"> 10AM - Noon</label>
                                                </div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="Noon" name="EmailOptIn" value="true" type="radio">
                                                    <label for="Noon"> Noon - 2PM</label>
                                                </div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="2PM" name="EmailOptIn" value="true" type="radio">
                                                    <label for="2PM"> 2PM - 4PM</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(WebStore_Resources.Dateyouplantoattend)
                                            <div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="Order_Yes" name="EmailOptIn" value="true" type="radio">
                                                    <label for="Order_Yes"> Friday, Nov 9th</label>
                                                </div>
                                                <div class="col-xs-12 styled-input nopadding">
                                                    <input id="Order_No" name="EmailOptIn" value="true" type="radio">
                                                    <label for="Order_No"> I would prefer another day</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <!--Required-->
                                        <div class="form-group floating-label">
                                            <small>Please state your preferred date and time below and a representative will contact you.</small>
                                            @Html.TextBoxFor(model => model.AnotherDay, new { @maxlength = 100, @id = "valAnotherDay", @class = "floating-input", @placeholder = "Would another day work for you" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 nopadding">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group floating-label" style="overflow: hidden">
                                            <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                                            <span id="ErrCaptcha" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Contact Form div-->
                        <div class="form-group floating-label">
                            <div class="pull-left margin-top-bottom">
                                <button type="submit" class="btn-text btn-bg-primary" id="btnPreviewShowApplication" onclick="return CaseRequest.prototype.ValidationForPreviewShowForm();">@WebStore_Resources.ButtonSubmit</button>
                                <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var form = document.getElementById("frmPreviewShow"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>