﻿@using Znode.WebStore.Custom.ViewModel;

@model AWCTQuoteLookupViewModel
@{
    ViewBag.Title = "A Wish Come True - Quote Lookup";
}
<div id="layout-Application" class="main-wrapper">
    <div class="container-fluid">
        <div class="contain-pages">
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-5 margin-bottom mobile-no-padding">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">Quote Lookup</h1>
                </div>
                @using (Html.BeginForm("QuoteLookup", "AWCTCustomizedForm", FormMethod.Post, new { @id = "frmQuoteLookup" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-xs-12 kmirrort backbackgroundset Setbordernone">
                            <div class="col-xs-12">
                                <div class="form-group floating-label">
                                    @Html.TextBoxFor(model => model.QuoteNumber, new { @maxlength = 200, @id = "valNumber", @class = "floating-input", @placeholder = "Quote Number*" })
                                    <span id="valNumberErr" class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group floating-label">
                                    @Html.TextBoxFor(model => model.QuoteEmailAddress, new { @maxlength = 200, @id = "valEmailAddress", @class = "floating-input", @placeholder = "Email Address on Quote*" })
                                    <span id="valEmailAddressErr" class="field-validation-error"></span>
                                </div>
                            </div>
                            <div class="col-xs-12">
									 <div class="form-group floating-label" style="overflow: hidden">
                                                <div class="g-recaptcha" data-sitekey="6Lcwg4gUAAAAAKeuIU3Au1Qixfwvi39Fe4FE18Sv"></div>
                                                <span id="ErrCaptcha" class="field-validation-error"></span>
                                       </div>
                            </div>
                            <!--End Contact Form div-->
                            <div class="col-xs-12 form-group floating-label">
                                <div class="margin-top-bottom">
                                    <button type="submit" class="btn-text btn-bg-primary" id="btnQuoteLookup" onclick="return CaseRequest.prototype.ValidationForQuoteLookupForm();">@WebStore_Resources.ButtonSubmit</button>
                                    <a href="/Home/Index" class="btn-text btn-bg-secondary">@WebStore_Resources.ButtonCancel</a>
                                </div>
                            </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var form = document.getElementById("frmQuoteLookup"); form.addEventListener("submit", function (e) { "" === grecaptcha.getResponse() ? (e.preventDefault(), $("#ErrCaptcha").text("Please check the recaptcha.")) : $("#ErrCaptcha").text("") }, !1);
</script>