﻿@model Znode.Engine.Admin.ViewModels.ShippingListViewModel
@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdg@(Admin_Resources.LabelAssociateShipping)">@Admin_Resources.LabelAssociateShipping</h1>
            <div class="pull-right btn-container">
                <button id="cancle-associated-profileCategory" type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('divUnassociatedShippingListPopup')" data-test-selector="linkCancel"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Store.prototype.AssociateShipping(@Model.PortalId)" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div style="display:none" class="messageBoxContainer error-msg text-center text-center margin-bottom" id="divAssociatedPortalShippingError" data-message="">@Admin_Resources.PleaseSelectAtleastOneRecord</div>
            @using (Ajax.BeginForm("GetUnAssociatedShippingList", "Store", new { portalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.PortalId)
        </div>
    </div>
</div>