﻿<div class="newsletter-widget">
    <div class="col-xs-12 col-sm-2 nopadding">
        @Html.Label(WebStore_Resources.LabelSignUpNewsletter, new { @data_test_selector = "lblSubscribeNewsLetter" })
    </div>
    <div class="col-xs-12 col-sm-10 input-field">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="input-group" id="newsletter">
                @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail" })
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">@WebStore_Resources.ButtonNewsletter</button>
                </span>
            </div>
        }
        <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
</div>
