﻿@model WidgetParameter
   
        <div id="link-products" class="product-list-widget">
            <script> $.ajax({ url: "/Product/GetLinkProducts?productId=@Model.CMSMappingId", type: "get" }).done(function (t) { $("#link-products").html(t) });</script>
        </div>


